/*

███████╗███████╗███╗   ███╗ █████╗ ███╗   ██╗████████╗██╗ ██████╗    ██╗   ██╗██╗
██╔════╝██╔════╝████╗ ████║██╔══██╗████╗  ██║╚══██╔══╝██║██╔════╝    ██║   ██║██║
███████╗█████╗  ██╔████╔██║███████║██╔██╗ ██║   ██║   ██║██║         ██║   ██║██║
╚════██║██╔══╝  ██║╚██╔╝██║██╔══██║██║╚██╗██║   ██║   ██║██║         ██║   ██║██║
███████║███████╗██║ ╚═╝ ██║██║  ██║██║ ╚████║   ██║   ██║╚██████╗    ╚██████╔╝██║
╚══════╝╚══════╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   ╚═╝ ╚═════╝     ╚═════╝ ╚═╝

  Import this file into your LESS project to use Semantic UI without build tools
*/

/* Global */
& { @require "definitions/globals/reset"; }
& { @require "definitions/globals/site"; }

/* Elements */
& { @require "definitions/elements/button"; }
& { @require "definitions/elements/container"; }
& { @require "definitions/elements/divider"; }
& { @require "definitions/elements/flag"; }
& { @require "definitions/elements/header"; }
& { @require "definitions/elements/icon"; }
& { @require "definitions/elements/image"; }
& { @require "definitions/elements/input"; }
& { @require "definitions/elements/label"; }
& { @require "definitions/elements/list"; }
& { @require "definitions/elements/loader"; }
& { @require "definitions/elements/rail"; }
& { @require "definitions/elements/reveal"; }
& { @require "definitions/elements/segment"; }
& { @require "definitions/elements/step"; }

/* Collections */
& { @require "definitions/collections/breadcrumb"; }
& { @require "definitions/collections/form"; }
& { @require "definitions/collections/grid"; }
& { @require "definitions/collections/menu"; }
& { @require "definitions/collections/message"; }
& { @require "definitions/collections/table"; }

/* Views */
& { @require "definitions/views/ad"; }
& { @require "definitions/views/card"; }
& { @require "definitions/views/comment"; }
& { @require "definitions/views/feed"; }
& { @require "definitions/views/item"; }
& { @require "definitions/views/statistic"; }

/* Modules */
& { @require "definitions/modules/accordion"; }
& { @require "definitions/modules/checkbox"; }
& { @require "definitions/modules/dimmer"; }
& { @require "definitions/modules/dropdown"; }
& { @require "definitions/modules/embed"; }
& { @require "definitions/modules/modal"; }
& { @require "definitions/modules/nag"; }
& { @require "definitions/modules/popup"; }
& { @require "definitions/modules/progress"; }
& { @require "definitions/modules/rating"; }
& { @require "definitions/modules/search"; }
& { @require "definitions/modules/shape"; }
& { @require "definitions/modules/sidebar"; }
& { @require "definitions/modules/sticky"; }
& { @require "definitions/modules/tab"; }
& { @require "definitions/modules/transition"; }

