/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
$ui_site       = 'default';
$ui_reset      = 'default';

/* Elements */
$ui_button     = 'default';
$ui_container  = 'default';
$ui_divider    = 'default';
$ui_flag       = 'default';
$ui_header     = 'default';
$ui_icon       = 'default';
$ui_image      = 'default';
$ui_input      = 'default';
$ui_label      = 'default';
$ui_list       = 'default';
$ui_loader     = 'default';
$ui_rail       = 'default';
$ui_reveal     = 'default';
$ui_segment    = 'default';
$ui_step       = 'default';

/* Collections */
$ui_breadcrumb = 'default';
$ui_form       = 'default';
$ui_grid       = 'default';
$ui_menu       = 'default';
$ui_message    = 'default';
$ui_table      = 'default';

/* Modules */
$ui_accordion  = 'default';
$ui_checkbox   = 'default';
$ui_dimmer     = 'default';
$ui_dropdown   = 'default';
$ui_embed      = 'default';
$ui_modal      = 'default';
$ui_nag        = 'default';
$ui_popup      = 'default';
$ui_progress   = 'default';
$ui_rating     = 'default';
$ui_search     = 'default';
$ui_shape      = 'default';
$ui_sidebar    = 'default';
$ui_sticky     = 'default';
$ui_tab        = 'default';
$ui_transition = 'default';

/* Views */
$ui_ad         = 'default';
$ui_card       = 'default';
$ui_comment    = 'default';
$ui_feed       = 'default';
$ui_item       = 'default';
$ui_statistic  = 'default';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
$ui_themesFolder = 'themes';

/* Path to site override folder */
$ui_siteFolder  = 'site';


/*******************************
         Import Theme
*******************************/

@require "theme.styl";

/* End Config */
