/* Fixed Page Grid */

$ui_mobileWidth= auto;
$ui_mobileMargin= 0em;
$ui_mobileGutter= 0em;

$ui_tabletWidth= auto;
$ui_tabletMargin= 0em;
$ui_tabletGutter= 8%;

$ui_computerWidth= 960px;
$ui_computerMargin= auto;
$ui_computerGutter= 0;

$ui_largeMonitorWidth= 1180px;
$ui_largeMonitorMargin= auto;
$ui_largeMonitorGutter= 0;

$ui_widescreenMonitorWidth= 1300px;
$ui_widescreenMargin= auto;
$ui_widescreenMonitorGutter= 0;

$ui_tableWidth= '';
