/*******************************
            Progress
*******************************/

$ui_background= rgba(0, 0, 0, 0.05);
$ui_boxShadow= 0px 0px 4px rgba(0, 0, 0, 0.1) inset;
$ui_barBackground= $ui_subtleGradient #888888;
$ui_border= 1px solid $ui_borderColor;
$ui_padding= $ui_relative3px;
