/*-------------------
   Global Variables
--------------------*/

$ui_pageFont= Helvetica Neue, Helvetica, Arial, sans-serif;
$ui_textColor= #66757F;
$ui_blue= #55ACEE;

/*-------------------
   Button Variables
--------------------*/

$ui_backgroundColor= #F5F8FA;
$ui_backgroundImage= linear-gradient($ui_white, $ui_backgroundColor);
$ui_color= #66757F;
$ui_borderBoxShadowColor= #E1E8ED;

$ui_textTransform= none;
$ui_fontWeight= bold;
$ui_textColor= #333333;

$ui_horizontalPadding= 1.284em;
$ui_verticalPadding= 0.8571em;

$ui_activeBackgroundColor= rgba(0, 0, 0, 0.1);

$ui_primaryColor= $ui_blue;
$ui_coloredBackgroundImage= $ui_subtleGradient;


/*-------------------
        States
--------------------*/

$ui_hoverBackgroundColor= #E1E8ED;
$ui_hoverBackgroundImage= linear-gradient($ui_white, $ui_hoverBackgroundColor);
$ui_hoverColor= #292F33;

$ui_downBackgroundColor= #E1E8ED;
$ui_downColor= #292F33;
$ui_downPressedShadow= 0px 1px 4px rgba(0, 0, 0, 0.2) inset;

$ui_labeledIconBackgroundColor= rgba(85, 172, 238, 0.05);
$ui_labeledIconBorder= rgba(0, 0, 0, 0.1);

