/*******************************
             Menu
*******************************/

$ui_fontFamily= 'Roboto', Arial, sans-serif;
$ui_boxShadow= 0px 1px 6px rgba(0, 0, 0, 0.2);
$ui_dividerSize= 0px;

$ui_itemVerticalPadding= $ui_relativeLarge;
$ui_itemHorizontalPadding= $ui_relativeLarge;
