/*******************************
     User Global Variables
*******************************/

$ui_pageMinWidth  = 1049px;
$ui_pageOverflowX = visible;

$ui_emSize= 13px;
$ui_fontSize = 13px;
$ui_fontName = 'Arial';
$ui_importGoogleFonts = false;

$ui_h1= 2.25em;

$ui_defaultBorderRadius= 0.30769em; /* 4px @ 13em */

$ui_disabledOpacity= 0.3;

$ui_black= #444C55;
$ui_orange= #FDE07B;

$ui_linkColor= #0066C0;
$ui_linkHoverColor= #C45500;
$ui_linkHoverUnderline= underline;

$ui_borderColor= rgba(0, 0, 0, 0.13);
$ui_solidBorderColor= #DDDDDD;
$ui_internalBorderColor= rgba(0, 0, 0, 0.06);
$ui_selectedBorderColor= #51A7E8;

/* Breakpoints */
$ui_largeMonitorBreakpoint= 1049px;
$ui_computerBreakpoint= $ui_largeMonitorBreakpoint;
$ui_tabletBreakpoint= $ui_largeMonitorBreakpoint;

/* Colors */
$ui_blue= #80A6CD;
$ui_green= #60B044;
$ui_orange= #D26911;


$ui_infoBackgroundColor= #E6F1F6;
$ui_infoTextColor= #4E575B;
