/*******************************
             Form
*******************************/

/*-------------------
       Elements
--------------------*/


/* Text */
$ui_paragraphMargin= 1em 0em;

/* Field */
$ui_fieldMargin= 0em 0em 1em;

/* Form Label */
$ui_labelFontSize= $ui_relative11px;
$ui_labelTextTransform= uppercase;

$ui_groupedLabelTextTransform= none;

/* Input */
$ui_inputHorizontalPadding= 0.5em;
$ui_inputBackground= transparent;
$ui_inputBorder= none;
$ui_inputBorderRadius= 0em;
$ui_inputBoxShadow= none;
$ui_invertedInputColor= $ui_invertedTextColor;

$ui_textAreaPadding= 1em;
$ui_textAreaBackground= transparent;
$ui_textAreaFocusBackground= #EEEEEE;
$ui_textAreaBorder= 1px solid #DDDDDD;

/* Divider */
$ui_dividerMargin= 1em 0em;

/* Validation Prompt */
$ui_validationMargin= 0em 0em 0em 1em;
$ui_validationArrowOffset= -0.3em;

/*-------------------
        States
--------------------*/

/* Disabled */

/* Focus */
$ui_inputFocusPointerSize= 0px;
$ui_inputErrorPointerSize= 0px;

/* Dropdown Error */
$ui_dropdownErrorHoverBackground= #FFF2F2;
$ui_dropdownErrorActiveBackground= #FDCFCF;

/* Focused Error */
$ui_inputErrorFocusBackground= $ui_negativeBackgroundColor;
$ui_inputErrorFocusColor= $ui_negativeColorHover;
$ui_inputErrorFocusBorder= $ui_negativeBorderColor;
$ui_inputErrorFocusBoxShadow= $ui_inputErrorPointerSize 0em 0em 0em $ui_negativeColorHover inset;

/* Placeholder */
$ui_inputPlaceholderColor= lighten($ui_inputColor, 55);
$ui_inputPlaceholderFocusColor= lighten($ui_inputColor, 35);
$ui_inputErrorPlaceholderColor= lighten($ui_formErrorColor, 10);
$ui_inputErrorPlaceholderFocusColor= lighten($ui_formErrorColor, 5);

/* Loading */
$ui_formLoaderDimmerColor= rgba(255, 255, 255, 0.6);
$ui_formLoaderPath= "" + $ui_imagePath + "/loader-large.gif";
$ui_formLoaderPosition= 50% 50%;

/* (x) Wide Field */
$ui_gutterWidth= 1.5em;

