/*******************************
    User Variable Overrides
*******************************/

$ui_transition=width $ui_defaultDuration $ui_defaultEasing;

$ui_menuPadding= 0px;

$ui_itemVerticalPadding= $ui_relative8px;
$ui_itemHorizontalPadding= $ui_relative14px;

$ui_dropdownIconMargin= 0em 0em 0em 2px;

$ui_raisedBoxShadow= 0px 3px 12px rgba(0, 0, 0, 0.15);

$ui_menuPadding= $ui_relative5px 0px;

$ui_menuHeaderMargin= 0em;
$ui_menuHeaderPadding= $ui_relative6px $ui_itemHorizontalPadding;
$ui_menuHeaderFontSize= $ui_relative12px;
$ui_menuHeaderTextTransform= none;
$ui_menuHeaderFontWeight= normal;
$ui_menuHeaderColor= #767676;

$ui_menuDividerMargin= $ui_relative8px 0em;

$ui_disabledOpacity= 0.6;

/* States */
$ui_hoveredItemBackground= #4078C0;
$ui_hoveredItemColor= $ui_white;

$ui_pointingArrowSize= $ui_relative9px;

