/*******************************
             Popup
*******************************/


$ui_small= $ui_relative10px;
$ui_medium= $ui_relative11px;
$ui_large= $ui_relative13px;

$ui_verticalPadding= $ui_relative7px;
$ui_horizontalPadding= $ui_relative11px;


