
/* Responsive Widths */
$ui_modalComputerWidth= 700px;
$ui_modalLargeMonitorWidth= 800px;
$ui_modalWidescreenMonitorWidth= 850px;

$ui_modalComputerMargin= 0em 0em 0em -($ui_modalComputerWidth / 2);
$ui_modalLargeMonitorMargin= 0em 0em 0em -($ui_modalLargeMonitorWidth / 2);
$ui_modalWidescreenMonitorMargin= 0em 0em 0em -($ui_modalWidescreenMonitorWidth / 2);


/*-------------------
      Variations
--------------------*/

/* Sizes */
$ui_modalSmallRatio= 0.6;
$ui_modalLargeRatio= 1.2;

/* Derived Responsive Sizes */
$ui_modalSmallHeaderSize= 1.3em;
$ui_modalSmallComputerWidth= ($ui_modalComputerWidth * $ui_modalSmallRatio);
$ui_modalSmallLargeMonitorWidth= ($ui_modalLargeMonitorWidth * $ui_modalSmallRatio);
$ui_modalSmallWidescreenMonitorWidth= ($ui_modalWidescreenMonitorWidth * $ui_modalSmallRatio);

$ui_modalSmallComputerMargin= 0em 0em 0em -($ui_modalSmallComputerWidth / 2);
$ui_modalSmallLargeMonitorMargin= 0em 0em 0em -($ui_modalSmallLargeMonitorWidth / 2);
$ui_modalSmallWidescreenMonitorMargin= 0em 0em 0em -($ui_modalSmallWidescreenMonitorWidth / 2);

$ui_modalLargeHeaderSize= 1.3em;
$ui_modalLargeComputerWidth= ($ui_modalComputerWidth * $ui_modalLargeRatio);
$ui_modalLargeLargeMonitorWidth= ($ui_modalLargeMonitorWidth * $ui_modalLargeRatio);
$ui_modalLargeWidescreenMonitorWidth= ($ui_modalWidescreenMonitorWidth * $ui_modalLargeRatio);

$ui_modalLargeComputerMargin= 0em 0em 0em -($ui_modalLargeComputerWidth / 2);
$ui_modalLargeLargeMonitorMargin= 0em 0em 0em -($ui_modalLargeLargeMonitorWidth / 2);
$ui_modalLargeWidescreenMonitorMargin= 0em 0em 0em -($ui_modalLargeWidescreenMonitorWidth / 2);
