/*******************************
          Breadcrumb
*******************************/

/*-------------------
     Breadcrumb
--------------------*/

$ui_verticalMargin= 0em;
$ui_display= inline-block;
$ui_verticalAlign= middle;

$ui_dividerSpacing= $ui_3px;
$ui_dividerOpacity= 0.7;
$ui_dividerColor= $ui_lightTextColor;

$ui_dividerSize= $ui_relativeSmall;
$ui_dividerVerticalAlign= baseline;

$ui_iconDividerSize= $ui_relativeTiny;
$ui_iconDividerVerticalAlign= baseline;

$ui_sectionMargin= 0em;
$ui_sectionPadding= 0em;

/* Coupling */
$ui_segmentPadding= $ui_relativeMini $ui_relativeMedium;

/*-------------------
       States
--------------------*/

$ui_activeFontWeight= bold;
