/*******************************
            Message
*******************************/

// $ui_textColor

/*-------------------
       Elements
--------------------*/

$ui_verticalMargin= 1em;
$ui_verticalPadding= 1em;
$ui_horizontalPadding= 1.5em;
$ui_background= #F8F8F9;
$ui_lineHeightOffset= (($ui_lineHeight - 1em) / 2);

$ui_borderRadius= $ui_defaultBorderRadius;
$ui_borderWidth= 1px;
$ui_borderShadow= 0px 0px 0px $ui_borderWidth $ui_strongBorderColor inset;
$ui_shadowShadow= 0px 0px 0px 0px rgba(0, 0, 0, 0);
$ui_boxShadow=$ui_borderShadow,
  $ui_shadowShadow;

$ui_transition=opacity $ui_defaultDuration $ui_defaultEasing,
  color $ui_defaultDuration $ui_defaultEasing,
  background $ui_defaultDuration $ui_defaultEasing,
  box-shadow $ui_defaultDuration $ui_defaultEasing;

/* Header */
$ui_headerFontSize= $ui_relativeLarge;
$ui_headerFontWeight= bold;
$ui_headerDisplay= block;
$ui_headerDistance= 0rem;
$ui_headerMargin= (- $ui_headerLineHeightOffset) 0em $ui_headerDistance 0em;
$ui_headerParagraphDistance= 0.25em;

/* Paragraph */
$ui_messageTextOpacity= 0.85;
$ui_messageParagraphMargin= 0.75em;

/* List */
$ui_listOpacity= 0.85;
$ui_listStylePosition= inside;
$ui_listMargin= 0.5em;
$ui_listItemIndent= 1em;
$ui_listItemMargin= 0.3em;

/* Icon */
$ui_iconDistance= 0.6em;

/* Close Icon */
$ui_closeTopDistance= $ui_verticalPadding - $ui_lineHeightOffset;
$ui_closeRightDistance= 0.5em;
$ui_closeOpacity= 0.7;
$ui_closeTransition= opacity $ui_defaultDuration $ui_defaultEasing;


/*-------------------
        Types
--------------------*/

/* Icon Message */
$ui_iconSize= 3em;
$ui_iconOpacity= 0.8;
$ui_iconContentDistance= 0rem;
$ui_iconVerticalAlign= middle;

/* Attached */
$ui_attachedXOffset= -1px;
$ui_attachedYOffset= -1px;
$ui_attachedBoxShadow= 0em 0em 0em $ui_borderWidth $ui_borderColor inset;
$ui_attachedBottomBoxShadow=$ui_attachedBoxShadow,
  $ui_subtleShadow;

/* Floating */
$ui_floatingBoxShadow=$ui_borderShadow,
  $ui_floatingShadow;

/* Colors */
$ui_redBoxShadow=0px 0px 0px $ui_borderWidth $ui_redBorderColor inset,
  $ui_shadowShadow;
$ui_orangeBoxShadow=0px 0px 0px $ui_borderWidth $ui_orangeBorderColor inset,
  $ui_shadowShadow;
$ui_yellowBoxShadow=0px 0px 0px $ui_borderWidth $ui_yellowBorderColor inset,
  $ui_shadowShadow;
$ui_oliveBoxShadow=0px 0px 0px $ui_borderWidth $ui_oliveBorderColor inset,
  $ui_shadowShadow;
$ui_greenBoxShadow=0px 0px 0px $ui_borderWidth $ui_greenBorderColor inset,
  $ui_shadowShadow;
$ui_tealBoxShadow=0px 0px 0px $ui_borderWidth $ui_tealBorderColor inset,
  $ui_shadowShadow;
$ui_blueBoxShadow=0px 0px 0px $ui_borderWidth $ui_blueBorderColor inset,
  $ui_shadowShadow;
$ui_violetBoxShadow=0px 0px 0px $ui_borderWidth $ui_violetBorderColor inset,
  $ui_shadowShadow;
$ui_purpleBoxShadow=0px 0px 0px $ui_borderWidth $ui_purpleBorderColor inset,
  $ui_shadowShadow;
$ui_pinkBoxShadow=0px 0px 0px $ui_borderWidth $ui_pinkBorderColor inset,
  $ui_shadowShadow;
$ui_brownBoxShadow=0px 0px 0px $ui_borderWidth $ui_brownBorderColor inset,
  $ui_shadowShadow;

/* Warning / Positive / Negative / Info */
$ui_positiveBoxShadow=0px 0px 0px $ui_borderWidth $ui_positiveBorderColor inset,
  $ui_shadowShadow;
$ui_negativeBoxShadow=0px 0px 0px $ui_borderWidth $ui_negativeBorderColor inset,
  $ui_shadowShadow;
$ui_infoBoxShadow=0px 0px 0px $ui_borderWidth $ui_infoBorderColor inset,
  $ui_shadowShadow;
$ui_warningBoxShadow=0px 0px 0px $ui_borderWidth $ui_warningBorderColor inset,
  $ui_shadowShadow;
$ui_errorBoxShadow=0px 0px 0px $ui_borderWidth $ui_errorBorderColor inset,
  $ui_shadowShadow;
$ui_successBoxShadow=0px 0px 0px $ui_borderWidth $ui_successBorderColor inset,
  $ui_shadowShadow;

