/*-------------------
   Button Variables
--------------------*/

/* Button Variables */
$ui_pageFont= Helvetica Neue, Helvetica, Arial, sans-serif;
$ui_textTransform= none;
$ui_textColor= #111111;
$ui_fontWeight= normal;
$ui_transition=opacity $ui_defaultDuration $ui_defaultEasing,
  background-color $ui_defaultDuration $ui_defaultEasing,
  color $ui_defaultDuration $ui_defaultEasing,
  background $ui_defaultDuration $ui_defaultEasing;

$ui_hoverBackgroundColor= #E0E0E0;

$ui_borderRadius= 3px;
$ui_verticalPadding= 0.8em;
$ui_horizontalPadding= 1.75em;

$ui_backgroundColor= #F7F8FA;
$ui_backgroundImage= linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
$ui_boxShadow=0 1px 0 1px rgba(255, 255, 255, 0.3) inset,
  0 0 0 1px #ADB2BB inset;

$ui_coloredBackgroundImage= linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
$ui_coloredBoxShadow=0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset;

$ui_downBoxShadow=0 0 0 1px #ADB2BB inset,
  0 1px 3px rgba(0, 0, 0, 0.2) inset;

$ui_labeledIconBackgroundColor= #313A43;
$ui_labeledIconColor= #FFFFFF;
$ui_labeledIconBorder= transparent;

$ui_black= #444C55;
$ui_orange= #F4CC67;

$ui_coloredBackgroundImage= linear-gradient(rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0.1));
$ui_primaryColor= $ui_orange;
$ui_secondaryColor= $ui_black;

$ui_mini= 10px;
$ui_tiny= 11px;
$ui_small= 12px;
$ui_medium= 13px;
$ui_large= 14px;
$ui_big= 16px;
$ui_huge= 18px;
$ui_massive= 22px;

