/*******************************
          Advertisement
*******************************/

$ui_margin= 1em 0em;
$ui_overflow= hidden;

$ui_testBackground= $ui_lightBlack;
$ui_testColor= $ui_white;
$ui_testFontWeight= $ui_bold;
$ui_testText= 'Ad';
$ui_testFontSize= $ui_relativeMedium;
$ui_testMobileFontSize= $ui_relativeTiny;

