/*******************************
            Comments
*******************************/


/*-------------------
       View
--------------------*/

$ui_maxWidth= 650px;
$ui_margin= 1.5em 0em;

/*-------------------
      Elements
--------------------*/

/* Comment */
$ui_commentBackground= none;
$ui_commentMargin= 0.5em 0em 0em;
$ui_commentPadding= 0.5em 0em 0em;
$ui_commentDivider= none;
$ui_commentBorder= none;
$ui_commentLineHeight= 1.2;
$ui_firstCommentMargin= 0em;
$ui_firstCommentPadding= 0em;

/* Nested Comment */
$ui_nestedCommentsMargin= 0em 0em 0.5em 0.5em;
$ui_nestedCommentsPadding= 1em 0em 1em 1em;

$ui_nestedCommentDivider= none;
$ui_nestedCommentBorder= none;
$ui_nestedCommentBackground= none;

/* Avatar */
$ui_avatarDisplay= block;
$ui_avatarFloat= left;
$ui_avatarWidth= 2.5em;
$ui_avatarHeight= auto;
$ui_avatarSpacing= 1em;
$ui_avatarMargin= ($ui_commentLineHeight - 1em) 0em 0em;
$ui_avatarBorderRadius= 0.25rem;

/* Content */
$ui_contentMargin= $ui_avatarWidth + $ui_avatarSpacing;

/* Author */
$ui_authorFontSize= 1em;
$ui_authorColor= $ui_textColor;
$ui_authorHoverColor= $ui_linkHoverColor;
$ui_authorFontWeight= $ui_bold;

/* Metadata */
$ui_metadataDisplay= inline-block;
$ui_metadataFontSize= 0.875em;
$ui_metadataSpacing= 0.5em;
$ui_metadataContentSpacing= 0.5em;
$ui_metadataColor= $ui_lightTextColor;

/* Text */
$ui_textFontSize= 1em;
$ui_textMargin= 0.25em 0em 0.5em;
$ui_textWordWrap= break-word;
$ui_textLineHeight= 1.3;

/* Actions */
$ui_actionFontSize= 0.875em;
$ui_actionContentDistance= 0.75em;
$ui_actionLinkColor= $ui_unselectedTextColor;
$ui_actionLinkHoverColor= $ui_hoveredTextColor;

/* Reply */
$ui_replyDistance= 1em;
$ui_replyHeight= 12em;
$ui_replyFontSize= 1em;

$ui_commentReplyDistance= $ui_replyDistance;

/*-------------------
      Variations
--------------------*/

/* Threaded */
$ui_threadedCommentMargin= -1.5em 0 -1em  ($ui_avatarWidth / 2);
$ui_threadedCommentPadding= 3em 0em 2em 2.25em;
$ui_threadedCommentBoxShadow= -1px 0px 0px $ui_borderColor;


/* Minimal */
$ui_minimalActionPosition= absolute;
$ui_minimalActionTop= 0px;
$ui_minimalActionRight= 0px;
$ui_minimalActionLeft= auto;

$ui_minimalTransitionDelay= 0.1s;
$ui_minimalEasing= $ui_defaultEasing;
$ui_minimalDuration= 0.2s;
$ui_minimalTransition= opacity $ui_minimalDuration $ui_minimalEasing;

