/*******************************
             Feed
*******************************/

/*-------------------
        Feed
--------------------*/

$ui_margin= 1em 0em;

/*-------------------
      Elements
--------------------*/

/* Event */
$ui_eventWidth= 100%;
$ui_eventPadding= $ui_3px 0em;
$ui_eventMargin= 0em;
$ui_eventBackground= none;
$ui_eventDivider= none;

/* Event Label */
$ui_labelWidth= 2.5em;
$ui_labelHeight= auto;
$ui_labelAlignSelf= stretch;
$ui_labelTextAlign= left;

/* Icon Label */
$ui_iconLabelOpacity= 1;
$ui_iconLabelWidth= 100%;
$ui_iconLabelSize= 1.5em;
$ui_iconLabelPadding= 0.25em;
$ui_iconLabelBackground= none;
$ui_iconLabelBorderRadius= none;
$ui_iconLabelBorder= none;
$ui_iconLabelColor= rgba(0, 0, 0, 0.6);

/* Image Label */
$ui_imageLabelWidth= 100%;
$ui_imageLabelHeight= auto;
$ui_imageLabelBorderRadius= $ui_circularRadius;

/* Content w/ Label */
$ui_labeledContentMargin= 0.5em 0em $ui_relative5px $ui_relativeLarge;
$ui_lastLabeledContentPadding= 0em;

/* Content */
$ui_contentAlignSelf= stretch;
$ui_contentTextAlign= left;
$ui_contentWordWrap= break-word;

/* Date */
$ui_dateMargin= -0.5rem 0em 0em;
$ui_datePadding= 0em;
$ui_dateColor= $ui_lightTextColor;
$ui_dateFontSize= $ui_relativeMedium;
$ui_dateFontWeight= normal;
$ui_dateFontStyle= normal;

/* Summary */
$ui_summaryMargin= 0em;
$ui_summaryFontSize= $ui_relativeMedium;
$ui_summaryFontWeight= bold;
$ui_summaryColor= $ui_textColor;

/* Summary Image */
$ui_summaryImageWidth= auto;
$ui_summaryImageHeight= 10em;
$ui_summaryImageMargin= -0.25em 0.25em 0em 0em;
$ui_summaryImageVerticalAlign= middle;
$ui_summaryImageBorderRadius= 0.25em;

/* Summary Date */
$ui_summaryDateDisplay= inline-block;
$ui_summaryDateFloat= none;
$ui_summaryDateMargin= 0em 0em 0em 0.5em;
$ui_summaryDatePadding= 0em;
$ui_summaryDateFontSize= $ui_relativeTiny;
$ui_summaryDateFontWeight= $ui_dateFontWeight;
$ui_summaryDateFontStyle= $ui_dateFontStyle;
$ui_summaryDateColor= $ui_dateColor;

/* User */
$ui_userFontWeight= bold;
$ui_userDistance= 0em;
$ui_userImageWidth= $ui_summaryImageWidth;
$ui_userImageHeight= $ui_summaryImageHeight;
$ui_userImageMargin= $ui_summaryImageMargin;
$ui_userImageVerticalAlign= $ui_summaryImageVerticalAlign;

/* Extra Summary Data */
$ui_extraMargin= 0.5em 0em 0em;
$ui_extraBackground= none;
$ui_extraPadding= 0em;
$ui_extraColor= $ui_textColor;

/* Extra Images */
$ui_extraImageMargin= 0em 0.25em 0em 0em;
$ui_extraImageWidth= 6em;

/* Extra Text */
$ui_extraTextPadding= 0em;
$ui_extraTextPointer= none;
$ui_extraTextFontSize= $ui_relativeMedium;
$ui_extraTextLineHeight= $ui_lineHeight;
$ui_extraTextMaxWidth= 500px;

/* Metadata Group */
$ui_metadataDisplay= inline-block;
$ui_metadataFontSize= $ui_relativeTiny;
$ui_metadataMargin= 0.5em 0em 0em;
$ui_metadataBackground= none;
$ui_metadataBorder= none;
$ui_metadataBorderRadius= 0;
$ui_metadataBoxShadow= none;
$ui_metadataPadding= 0em;
$ui_metadataColor= rgba(0, 0, 0, 0.6);

$ui_metadataElementSpacing= 0.75em;

/* Like */
$ui_likeColor= '';
$ui_likeHoverColor= #FF2733;
$ui_likeActiveColor= #EF404A;
$ui_likeTransition= 0.2s color ease;

/* Metadata Divider */
$ui_metadataDivider= '';
$ui_metadataDividerColor= rgba(0, 0, 0, 0.2);
$ui_metadataDividerOffset= -1em;

$ui_metadataActionCursor= pointer;
$ui_metadataActionOpacity= 1;
$ui_metadataActionColor= rgba(0, 0, 0, 0.5);
$ui_metadataActionTransition= color $ui_defaultDuration $ui_defaultEasing;

$ui_metadataActionHoverColor= $ui_selectedTextColor;

/*-------------------
      Variations
--------------------*/

