/*******************************
             Item
*******************************/

/*-------------------
         View
--------------------*/

/* Group */
$ui_groupMargin= 1.5em 0em;

/* Item */
$ui_display= flex;
$ui_background= transparent;
$ui_borderRadius= 0rem;
$ui_minHeight= 0px;
$ui_padding= 0em;
$ui_width= 100%;
$ui_boxShadow= none;
$ui_border= none;
$ui_zIndex= '';
$ui_transition= box-shadow $ui_defaultDuration $ui_defaultEasing;

/* Responsive */
$ui_itemSpacing= 1em;
$ui_imageWidth= 175px;
$ui_contentImageDistance= 1.5em;

$ui_tabletItemSpacing= 1em;
$ui_tabletImageWidth= 150px;
$ui_tabletContentImageDistance= 1em;

$ui_mobileItemSpacing= 2em;
$ui_mobileImageWidth= auto;
$ui_mobileImageMaxHeight= 250px;
$ui_mobileContentImageDistance= 1.5em;

/*-------------------
       Content
--------------------*/

/* Image */
$ui_imageDisplay= block;
$ui_imageFloat= none;
$ui_imageMaxHeight= '';
$ui_imageVerticalAlign= top;
$ui_imageMargin= 0em;
$ui_imagePadding= 0em;
$ui_imageBorder= none;
$ui_imageBorderRadius= 0.125rem;
$ui_imageBoxShadow= none;
$ui_imageBorder= none;

/* Content */
$ui_contentDisplay= block;
$ui_contentVerticalAlign= top;

$ui_contentWidth= auto;
$ui_contentOffset= 0em;
$ui_contentBackground= none;
$ui_contentMargin= 0em;
$ui_contentPadding= 0em;
$ui_contentFontSize= 1em;
$ui_contentBorder= none;
$ui_contentBorderRadius= 0em;
$ui_contentBoxShadow= none;

/* Header */
$ui_headerMargin= (- $ui_lineHeightOffset) 0em 0em;
$ui_headerFontWeight= bold;
$ui_headerFontSize= $ui_relativeBig;
$ui_headerColor= $ui_darkTextColor;

/* Metadata */
$ui_metaMargin= 0.5em 0em 0.5em;
$ui_metaFontSize= 1em;
$ui_metaLineHeight= 1em;
$ui_metaSpacing= 0.3em;
$ui_metaColor= rgba(0, 0, 0, 0.6);

/* Icons */
$ui_actionOpacity= 0.75;
$ui_actionHoverOpacity= 1;
$ui_actionTransition= color $ui_defaultDuration $ui_defaultEasing;

/* Actions */
$ui_favoriteColor= #FFB70A;
$ui_favoriteActiveColor= #FFE623;
$ui_likeColor= #FF2733;
$ui_likeActiveColor= #FF2733;

/* Links */
$ui_headerLinkColor= $ui_headerColor;
$ui_headerLinkHoverColor= $ui_linkHoverColor;
$ui_metaLinkColor= $ui_lightTextColor;
$ui_metaLinkHoverColor= $ui_textColor;
$ui_contentLinkColor= '';
$ui_contentLinkHoverColor= '';
$ui_contentLinkTransition= color $ui_defaultDuration $ui_defaultEasing;


/* Description */
$ui_descriptionDistance= 0.6em;
$ui_descriptionMaxWidth= auto;
$ui_descriptionFontSize= 1em;
$ui_descriptionLineHeight= $ui_lineHeight;
$ui_descriptionColor= $ui_textColor;

/* Content Image */
$ui_contentImageWidth= '';
$ui_contentImageVerticalAlign= middle;

/* Avatar Image */
$ui_avatarSize= $ui_contentImageWidth;
$ui_avatarBorderRadius= $ui_circularRadius;

/* Paragraph */
$ui_paragraphDistance= 0.5em;

/* Additional Content */
$ui_extraDivider= none;
$ui_extraHorizontalSpacing= 0.5rem;
$ui_extraRowSpacing= 0.5rem;

$ui_extraBackground= none;
$ui_extraDisplay= block;
$ui_extraPosition= relative;
$ui_extraMargin= (1rem - $ui_extraRowSpacing) 0em 0em;
$ui_extraTop= 0em;
$ui_extraLeft= 0em;
$ui_extraWidth= 100%;
$ui_extraPadding= 0em 0em 0em;
$ui_extraBoxShadow= none;
$ui_extraColor= $ui_lightTextColor;
$ui_extraTransition= color $ui_defaultDuration $ui_defaultEasing;

/*-------------------
      Variations
--------------------*/

/* Relaxed */
$ui_relaxedItemSpacing= 1.5em;
$ui_veryRelaxedItemSpacing= 2em;

/* Divided */
$ui_dividedBorder= 1px solid $ui_borderColor;
$ui_dividedMargin= 0em;
$ui_dividedPadding= 1em 0em;

$ui_dividedFirstLastMargin= 0em;
$ui_dividedFirstLastPadding= 0em;

/* Sizes */
$ui_medium= 1em;
