/*******************************
           Statistic
*******************************/

/*-------------------
         View
--------------------*/

$ui_margin= 1em 0em;
$ui_textAlign= center;
$ui_maxWidth= auto;

/* Group */
$ui_horizontalSpacing= 1.5em;
$ui_rowSpacing= 2em;
$ui_groupMargin= 1em - $ui_horizontalSpacing - $ui_rowSpacing;

/* Group Element */
$ui_elementMargin= 0em $ui_horizontalSpacing $ui_rowSpacing;
$ui_elementMaxWidth= $ui_maxWidth;

/*-------------------
       Content
--------------------*/

/* Value */
$ui_valueFont= $ui_pageFont;
$ui_valueFontWeight= $ui_normal;
$ui_valueLineHeight= 1em;
$ui_valueColor= $ui_black;
$ui_valueTextTransform= uppercase;

/* Label */
$ui_labelSize= $ui_relativeMedium;
$ui_topLabelDistance= 0rem;
$ui_bottomLabelDistance= 0rem;
$ui_labelFont= $ui_headerFont;
$ui_labelFontWeight= $ui_bold;
$ui_labelColor= $ui_textColor;
$ui_labelLineHeight= $ui_relativeLarge;
$ui_labelTextTransform= uppercase;

/* Text */
$ui_textValueLineHeight= 1em;
$ui_textValueMinHeight= 2em;
$ui_textValueFontWeight= $ui_bold;

/* Label Image */
$ui_imageHeight= 3rem;
$ui_imageVerticalAlign= baseline;

/*-------------------
      Types
--------------------*/

$ui_horizontalGroupElementMargin= 1em 0em;
$ui_horizontalLabelDistance= 0.75em;

/*-------------------
      Variations
--------------------*/

/* Floated */
$ui_leftFloatedMargin= 0em 2em 1em 0em;
$ui_rightFloatedMargin= 0em 0em 1em 2em;

/* Inverted */
$ui_invertedValueColor= $ui_white;
$ui_invertedLabelColor= $ui_invertedTextColor;

/* Item Width */
$ui_itemGroupMargin= 0em 0em (- $ui_rowSpacing);
$ui_itemMargin= 0em 0em $ui_rowSpacing;

/* Size */
$ui_miniTextValueSize= 1rem;
$ui_miniValueSize= 1.5rem;
$ui_miniHorizontalValueSize= 1.5rem;

$ui_tinyTextValueSize= 1rem;
$ui_tinyValueSize= 2rem;
$ui_tinyHorizontalValueSize= 2rem;

$ui_smallTextValueSize= 1rem;
$ui_smallValueSize= 3rem;
$ui_smallHorizontalValueSize= 2rem;

$ui_textValueSize= 2rem;
$ui_valueSize= 4rem;
$ui_horizontalValueSize= 3rem;

$ui_largeTextValueSize= 2.5rem;
$ui_largeValueSize= 5rem;
$ui_largeHorizontalValueSize= 4rem;

$ui_hugeTextValueSize= 2.5rem;
$ui_hugeValueSize= 6rem;
$ui_hugeHorizontalValueSize= 5rem;

