/*******************************
            Progress
*******************************/

$ui_background= transparent;
$ui_border= none;
$ui_padding= 0em;

$ui_progressLeft= 0em;
$ui_progressWidth= 100%;
$ui_progressTextAlign= center;

$ui_labelFontWeight= normal;
$ui_labelTextAlign= left;
$ui_labelHeight= 1.5em;
