/* Checkbox */
$ui_checkboxActiveBackground= $ui_primaryColor;
$ui_checkboxActiveBorderColor= $ui_primaryColor;
$ui_checkboxActiveCheckColor= $ui_white;

$ui_checkboxActiveFocusBackground= $ui_primaryColorFocus;
$ui_checkboxActiveFocusBorderColor= $ui_primaryColorFocus;
$ui_checkboxActiveFocusCheckColor= $ui_white;

$ui_checkboxTransition= none;

/* Radio */
$ui_radioActiveBackground= $ui_white;
$ui_radioActiveBorderColor= $ui_primaryColor;
$ui_radioActiveBulletColor= $ui_primaryColor;

$ui_radioActiveFocusBackground= $ui_white;
$ui_radioActiveFocusBorderColor= $ui_primaryColorFocus;
$ui_radioActiveFocusBulletColor= $ui_primaryColorFocus;

/* Slider */
$ui_sliderOnLineColor= $ui_primaryColor;
$ui_sliderOnFocusLineColor= $ui_primaryColorFocus;

/* Handle */
$ui_handleBackground= $ui_white $ui_subtleGradient;
$ui_handleBoxShadow=0px 0px 0px 1px $ui_selectedBorderColor inset;

