/*!
 * # Semantic UI - Step
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
             Step
*******************************/

/*--------------
   Load Theme
---------------*/

$ui_type    = 'element';
$ui_element = 'step';

@import '../../theme.config';

/*******************************
            Plural
*******************************/

.ui.steps {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  margin: $ui_stepMargin;
  background: $ui_stepsBackground;
  box-shadow: $ui_stepsBoxShadow;
  line-height: $ui_lineHeight;
  border-radius: $ui_stepsBorderRadius;
  border: $ui_stepsBorder;
}

/* First Steps */
.ui.steps:first-child {
  margin-top: 0em;
}

/* Last Steps */
.ui.steps:last-child {
  margin-bottom: 0em;
}


/*******************************
           Singular
*******************************/

.ui.steps .step {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
  justify-content: $ui_justifyContent;

  margin: $ui_verticalMargin $ui_horizontalMargin;
  padding: $ui_verticalPadding $ui_horizontalPadding;
  background: $ui_background;
  color: $ui_textColor;
  box-shadow: $ui_boxShadow;
  border-radius: $ui_borderRadius;
  border: $ui_border;
  border-right: $ui_divider;
  transition: $ui_transition;
}

/* Arrow */
.ui.steps .step:after {
  display: none;
  position: absolute;
  z-index: 2;
  content: '';
  top: $ui_arrowTopOffset;
  right: $ui_arrowRightOffset;
  border: medium none;
  background-color: $ui_arrowBackgroundColor;
  width: $ui_arrowSize;
  height: $ui_arrowSize;

  border-style: solid;
  border-color: $ui_borderColor;
  border-width: $ui_arrowBorderWidth;

  transition: $ui_transition;
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
}

/* First Step */
.ui.steps .step:first-child {
  padding-left: $ui_horizontalPadding;
  border-radius: $ui_stepsBorderRadius 0em 0em $ui_stepsBorderRadius;
}

/* Last Step */
.ui.steps .step:last-child {
  border-radius: 0em $ui_stepsBorderRadius $ui_stepsBorderRadius 0em;
}
.ui.steps .step:last-child {
  border-right: none;
  margin-right: 0em;
}

/* Only Step */
.ui.steps .step:only-child {
  border-radius: $ui_stepsBorderRadius;
}


/*******************************
            Content
*******************************/

/* Title */
.ui.steps .step .title {
  font-family: $ui_titleFontFamily;
  font-size: $ui_titleFontSize;
  font-weight: $ui_titleFontWeight;
}
.ui.steps .step > .title {
  width: 100%;
}

/* Description */
.ui.steps .step .description {
  font-weight: $ui_descriptionFontWeight;
  font-size: $ui_descriptionFontSize;
  color: $ui_descriptionColor;
}
.ui.steps .step > .description {
  width: 100%;
}
.ui.steps .step .title ~ .description {
  margin-top: $ui_descriptionDistance;
}

/* Icon */
.ui.steps .step > .icon {
  line-height: 1;
  font-size: $ui_iconSize;
  margin: 0em $ui_iconDistance 0em 0em;
}
.ui.steps .step > .icon,
.ui.steps .step > .icon ~ .content {
  display: block;
  flex: 0 1 auto;
  align-self: $ui_iconAlign;
}
.ui.steps .step > .icon ~ .content {
  flex-grow: 1 0 auto;
}

/* Horizontal Icon */
.ui.steps:not(.vertical) .step > .icon {
  width: auto;
}

/* Link */
.ui.steps .link.step,
.ui.steps a.step {
  cursor: pointer;
}

/*******************************
            Types
*******************************/

/*--------------
     Ordered
---------------*/

.ui.ordered.steps {
  counter-reset: ordered;
}
.ui.ordered.steps .step:before {
  display: block;
  position: static;
  text-align: center;
  content: counters(ordered, ".");
  align-self: $ui_iconAlign;
  margin-right: $ui_iconDistance;
  font-size: $ui_iconSize;
  counter-increment: ordered;
  font-family: $ui_orderedFontFamily;
  font-weight: $ui_orderedFontWeight;
}

.ui.ordered.steps .step > * {
  display: block;
  align-self: $ui_iconAlign;
}


/*--------------
    Vertical
---------------*/

.ui.vertical.steps {
  display: inline-flex;
  flex-direction: column;
  overflow: visible;
}
.ui.vertical.steps .step {
  justify-content: flex-start;
  border-radius: $ui_borderRadius;
  padding: $ui_verticalPadding $ui_horizontalPadding;
  border-right: none;
  border-bottom: $ui_verticalDivider;
}
.ui.vertical.steps .step:first-child {
  padding: $ui_verticalPadding $ui_horizontalPadding;
  border-radius: $ui_stepsBorderRadius $ui_stepsBorderRadius 0em 0em;
}
.ui.vertical.steps .step:last-child {
  border-bottom: none;
  border-radius: 0em 0em $ui_stepsBorderRadius $ui_stepsBorderRadius;
}
.ui.vertical.steps .step:only-child {
  border-radius: $ui_stepsBorderRadius;
}


/* Arrow */
.ui.vertical.steps .step:after {
  display: none;
}
.ui.vertical.steps .step:after {
  top: $ui_verticalArrowTopOffset;
  right: $ui_verticalArrowRightOffset;
  border-width: $ui_verticalArrowBorderWidth;
}

.ui.vertical.steps .step:after {
  display: $ui_verticalArrowDisplay;
}
.ui.vertical.steps .active.step:after {
  display: $ui_verticalActiveArrowDisplay;
}
.ui.vertical.steps .step:last-child:after {
  display: $ui_verticalLastArrowDisplay;
}
.ui.vertical.steps .active.step:last-child:after {
  display: $ui_verticalActiveLastArrowDisplay;
}


/*---------------
    Responsive
----------------*/

/* Mobile (Default) */
@media only screen and (max-width: ($ui_largestMobileScreen)) {

.ui.steps {
  display: inline-flex;
  overflow: visible;
  flex-direction: column;
}
.ui.steps .step {
  width: 100% !important;
  flex-direction: column;
  border-radius: $ui_borderRadius;
  padding: $ui_verticalPadding $ui_horizontalPadding;
}
.ui.steps .step:first-child {
  padding: $ui_verticalPadding $ui_horizontalPadding;
  border-radius: $ui_stepsBorderRadius $ui_stepsBorderRadius 0em 0em;
}
.ui.steps .step:last-child {
  border-radius: 0em 0em $ui_stepsBorderRadius $ui_stepsBorderRadius;
}

/* Arrow */
.ui.steps .step:after {
  display: none !important;
}

/* Content */
.ui.steps .step .content {
  text-align: center;
}

/* Icon */
.ui.steps .step > .icon,
.ui.ordered.steps .step:before {
  margin: 0em 0em $ui_mobileIconDistance 0em;
}

}

/*******************************
             States
*******************************/

/* Link Hover */
.ui.steps .link.step:hover::after,
.ui.steps .link.step:hover,
.ui.steps a.step:hover::after,
.ui.steps a.step:hover {
  background: $ui_hoverBackground;
  color: $ui_hoverColor;
}

/* Link Down */
.ui.steps .link.step:active::after,
.ui.steps .link.step:active,
.ui.steps a.step:active::after,
.ui.steps a.step:active {
  background: $ui_downBackground;
  color: $ui_downColor;
}

/* Active */
.ui.steps .step.active {
  cursor: auto;
  background: $ui_activeBackground;
}
.ui.steps .step.active:after {
  background: $ui_activeBackground;
}
.ui.steps .step.active .title {
  color: $ui_activeColor;
}
.ui.ordered.steps .step.active:before,
.ui.steps .active.step .icon {
  color: $ui_activeIconColor;
}

/* Active Arrow */
.ui.steps .step:after {
  display: $ui_arrowDisplay;
}
.ui.steps .active.step:after {
  display: $ui_activeArrowDisplay;
}
.ui.steps .step:last-child:after {
  display: $ui_lastArrowDisplay;
}
.ui.steps .active.step:last-child:after {
  display: $ui_activeLastArrowDisplay;
}

/* Active Hover */
.ui.steps .link.active.step:hover::after,
.ui.steps .link.active.step:hover,
.ui.steps a.active.step:hover::after,
.ui.steps a.active.step:hover {
  cursor: pointer;
  background: $ui_activeHoverBackground;
  color: $ui_activeHoverColor;
}

/* Completed */
.ui.steps .step.completed > .icon:before,
.ui.ordered.steps .step.completed:before {
  color: $ui_completedColor;
}

/* Disabled */
.ui.steps .disabled.step {
  cursor: auto;
  background: $ui_disabledBackground;
  pointer-events: none;
}
.ui.steps .disabled.step,
.ui.steps .disabled.step .title,
.ui.steps .disabled.step .description {
  color: $ui_disabledColor;
}
.ui.steps .disabled.step:after {
  background: $ui_disabledBackground;
}


/*******************************
           Variations
*******************************/


/*--------------
   Stackable
---------------*/

/* Tablet Or Below */
@media only screen and (max-width: $ui_largestTabletScreen) {

.ui[class*="tablet stackable"].steps {
  display: inline-flex;
  overflow: visible;
  flex-direction: column;
}

/* Steps */
.ui[class*="tablet stackable"].steps .step {
  flex-direction: column;
  border-radius: $ui_borderRadius;
  padding: $ui_verticalPadding $ui_horizontalPadding;
}
.ui[class*="tablet stackable"].steps .step:first-child {
  padding: $ui_verticalPadding $ui_horizontalPadding;
  border-radius: $ui_stepsBorderRadius $ui_stepsBorderRadius 0em 0em;
}
.ui[class*="tablet stackable"].steps .step:last-child {
  border-radius: 0em 0em $ui_stepsBorderRadius $ui_stepsBorderRadius;
}

/* Arrow */
.ui[class*="tablet stackable"].steps .step:after {
  display: none !important;
}

/* Content */
.ui[class*="tablet stackable"].steps .step .content {
  text-align: center;
}

/* Icon */
.ui[class*="tablet stackable"].steps .step > .icon,
.ui[class*="tablet stackable"].ordered.steps .step:before {
  margin: 0em 0em $ui_mobileIconDistance 0em;
}

}

/*--------------
      Fluid
---------------*/

/* Fluid */
.ui.fluid.steps {
  display: flex;
  width: 100%;
}

/*--------------
    Attached
---------------*/

/* Top */
.ui.attached.steps {
  width: $ui_attachedWidth !important;
  margin: 0em $ui_attachedHorizontalOffset $ui_attachedVerticalOffset;
  max-width: $ui_attachedWidth;
  border-radius: $ui_stepsBorderRadius $ui_stepsBorderRadius 0em 0em;
}
.ui.attached.steps .step:first-child {
  border-radius: $ui_stepsBorderRadius 0em 0em 0em;
}
.ui.attached.steps .step:last-child {
  border-radius: 0em $ui_stepsBorderRadius 0em 0em;
}

/* Bottom */
.ui.bottom.attached.steps {
  margin: $ui_attachedVerticalOffset $ui_attachedHorizontalOffset 0em;
  border-radius: 0em 0em $ui_stepsBorderRadius $ui_stepsBorderRadius;
}
.ui.bottom.attached.steps .step:first-child {
  border-radius: 0em 0em 0em $ui_stepsBorderRadius;
}
.ui.bottom.attached.steps .step:last-child {
  border-radius: 0em 0em $ui_stepsBorderRadius 0em;
}

/*-------------------
    Evenly Divided
--------------------*/

.ui.one.steps,
.ui.two.steps,
.ui.three.steps,
.ui.four.steps,
.ui.five.steps,
.ui.six.steps,
.ui.seven.steps,
.ui.eight.steps {
  width: 100%;
}
.ui.one.steps > .step,
.ui.two.steps > .step,
.ui.three.steps > .step,
.ui.four.steps > .step,
.ui.five.steps > .step,
.ui.six.steps > .step,
.ui.seven.steps > .step,
.ui.eight.steps > .step {
  flex-wrap: nowrap;
}
.ui.one.steps > .step {
  width: 100%;
}
.ui.two.steps > .step {
  width: 50%;
}
.ui.three.steps > .step {
  width: 33.333%;
}
.ui.four.steps > .step {
  width: 25%;
}
.ui.five.steps > .step {
  width: 20%;
}
.ui.six.steps > .step {
  width: 16.666%;
}
.ui.seven.steps > .step {
  width: 14.285%;
}
.ui.eight.steps > .step {
  width: 12.500%;
}

/*-------------------
       Sizes
--------------------*/


.ui.mini.steps .step,
.ui.mini.step {
  font-size: $ui_mini;
}
.ui.tiny.steps .step,
.ui.tiny.step {
  font-size: $ui_tiny;
}
.ui.small.steps .step,
.ui.small.step {
  font-size: $ui_small;
}
.ui.steps .step,
.ui.step {
  font-size: $ui_medium;
}
.ui.large.steps .step,
.ui.large.step {
  font-size: $ui_large;
}
.ui.big.steps .step,
.ui.big.step {
  font-size: $ui_big;
}
.ui.huge.steps .step,
.ui.huge.step {
  font-size: $ui_huge;
}
.ui.massive.steps .step,
.ui.massive.step {
  font-size: $ui_massive;
}


loadUIOverrides();

