/*******************************
         Site Overrides
*******************************/

$ui_dividerOpacity= 1;
$ui_dividerSpacing= 0;
$ui_dividerSize= $ui_big;
$ui_dividerColor= inherit;

$ui_huge= 1.5384em;


