/*******************************
            Form
*******************************/

/*-------------------
       Elements
--------------------*/

$ui_inputBackground= #FAFAFA;
$ui_inputBorder= 1px solid #CCCCCC;
$ui_inputBoxShadow= 0 1px 2px rgba(0, 0, 0, 0.075) inset;
$ui_inputBorderRadius= 3px;

$ui_labelFontWeight= bold;
$ui_labelDistance= 6px;

/*-------------------
        States
--------------------*/

$ui_inputFocusBackground= #FFFFFF;
$ui_inputFocusBoxShadow=0px 1px 2px rgba(0, 0, 0, 0.075) inset,
  0px 0px 5px rgba(81, 167, 232, 0.5);
$ui_inputFocusBorderColor= #51A7E8;
$ui_inputFocusBorderRadius= $ui_inputBorderRadius;

/*-------------------
        Types
--------------------*/


/*-------------------
      Variations
--------------------*/

/*-------------------
       Groups
--------------------*/

