/*-------------------
      Collection
--------------------*/

$ui_itemVerticalPadding= 1em;
$ui_itemHorizontalPadding= 1.25em;

$ui_background= #FFFFFF linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.05));
$ui_fontWeight= normal;

$ui_activeBorderSize= 0em;

$ui_hoverBackground= rgba(0, 0, 0, 0.02);
$ui_downBackground= rgba(0, 0, 0, 0.06);

$ui_activeBackground= rgba(0, 0, 0, 0.04);
$ui_activeHoverBackground= rgba(0, 0, 0, 0.04);


$ui_headerBackground= rgba(0, 0, 0, 0.08);

$ui_subMenuMargin= 0.5em -0.6em 0;
$ui_subMenuHorizontalPadding= 0.7em;

$ui_arrowHoverColor= #EEEEEE;
$ui_arrowActiveColor= #EEEEEE;
$ui_arrowVerticalHoverColor= #F4F4F4;
$ui_arrowVerticalActiveColor= #F4F4F4;

$ui_dividerBackground= #E8E8E8;
$ui_verticalDividerBackground= #E8E8E8;

/*-------------------
      Elements
--------------------*/

$ui_buttonOffset= -0.15em;
$ui_buttonVerticalPadding= 0.75em;

/*-------------------
        Types
--------------------*/

$ui_paginationMinWidth= 3.5em;

$ui_tieredActiveItemBackground= #F5F5F5;
$ui_tieredActiveMenuBackground= #F5F5F5;

/*-------------------
      Variations
--------------------*/

$ui_verticalBackground= #FFFFFF;
$ui_verticalItemBackground= linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.02));

$ui_invertedBackground= $ui_black linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.0));
$ui_invertedBoxShadow             =0px 1px 2px 0px rgba(0, 0, 0, 0.15),
  0px 0px 0px 1px rgba(255, 255, 255, 0.15);
$ui_secondaryVerticalPadding= 0.75em;
