$ui_background= linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.05)) #FEFEFE;
$ui_boxShadow=0px 0px 0px 1px rgba(255, 255, 255, 0.3) inset,
  0px 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
$ui_verticalPadding= 15px;
$ui_horizontalPadding= 15px;

$ui_headerFontSize= 1.15em;

$ui_infoTextColor= #264C72;
$ui_warningTextColor= #613A00;
$ui_errorTextColor= #991111;

$ui_floatingBoxShadow=0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset,
  0px 2px 3px 0px rgba(0, 0, 0, 0.1),
  0px 0px 0px 1px rgba(0, 0, 0, 0.05) inset;

$ui_infoBorderColor= #97C1DA;
$ui_errorBorderColor= #DA9797;
$ui_warningBorderColor= #DCA874;

$ui_small= 12px;
$ui_medium= 13px;
$ui_large= 14px;
$ui_huge= 16px;
$ui_massive= 18px;

