/*******************************
    User Variable Overrides
*******************************/

$ui_background= #F8F8F8;

$ui_cellVerticalPadding= $ui_relative6px;
$ui_cellHorizontalPadding= $ui_relative8px;
