/*******************************
         Site Settings
*******************************/

/*-------------------
       Fonts
--------------------*/

$ui_googleFontName    = 'Droid Sans';

/* Kufi imported in site.overrides */
$ui_headerFont        = 'Droid Arabic Kufi', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$ui_pageFont          = 'Droid Arabic Kufi', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;


