/*-------------------
   Accordion Variables
--------------------*/

$ui_iconMargin= 0em 0.5em 0em 0em;

$ui_styledActiveTitleBackground= $ui_subtleGradient;
$ui_styledActiveTitleColor= $ui_primaryColor;

$ui_styledActiveChildTitleBackground= transparent;

$ui_styledTitlePadding= 1.25em;
$ui_styledTitleFontWeight= bold;
$ui_styledContentPadding= 1.5em 3.25em;
$ui_styledChildContentPadding= $ui_styledContentPadding;
