$ui_background= #F3F3F3;

$ui_boxShadow= 0px 0px 0px 1px rgba(0, 0, 0, 0.1) inset;
$ui_borderRadius= 4px;
$ui_verticalPadding= 7px;
$ui_horizontalPadding= 15px;

$ui_headerFontSize= 1em;

$ui_floatingBoxShadow= 0px 2px 4px rgba(0, 0, 0, 0.2);

$ui_iconSize= 1.5em;
$ui_iconDistance= 1em;

$ui_warningBackgroundColor= #F9EDBE;

