/*!
 * # Semantic UI - Dropdown
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
            Theme
*******************************/

$ui_type    = 'module';
$ui_element = 'dropdown';

@import '../../theme.config';

/*******************************
            Dropdown
*******************************/

.ui.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  text-align: left;
  transition: $ui_transition;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*******************************
            Content
*******************************/

/*--------------
      Menu
---------------*/

.ui.dropdown .menu {
  cursor: auto;
  position: absolute;
  display: none;
  outline: none;
  top: 100%;
  min-width: max-content;
  transition: $ui_menuTransition;

  margin: $ui_menuMargin;
  padding: $ui_menuPadding;
  background: $ui_menuBackground;

  font-size: $ui_relativeMedium;
  text-shadow: none;
  text-align: $ui_menuTextAlign;

  box-shadow: $ui_menuBoxShadow;
  border: $ui_menuBorder;
  border-radius: $ui_menuBorderRadius;
  transition: $ui_menuTransition;
  z-index: $ui_menuZIndex;
  will-change: transform, opacity;
}

.ui.dropdown .menu > * {
  white-space: nowrap;
}


/*--------------
  Hidden Input
---------------*/

.ui.dropdown > input:not(.search):first-child,
.ui.dropdown > select {
  display: none !important;
}

/*--------------
 Dropdown Icon
---------------*/

.ui.dropdown > .dropdown.icon {
  position: relative;
  width: auto;
  font-size: $ui_dropdownIconSize;
  margin: $ui_dropdownIconMargin;
}
.ui.dropdown .menu > .item .dropdown.icon {
  width: auto;
  float: $ui_itemDropdownIconFloat;
  margin: $ui_itemDropdownIconMargin;
}
.ui.dropdown .menu > .item .dropdown.icon + .text {
  margin-right: $ui_itemDropdownIconDistance;
}


/*--------------
      Text
---------------*/

.ui.dropdown > .text {
  display: inline-block;
  transition: $ui_textTransition;
}

/*--------------
    Menu Item
---------------*/

.ui.dropdown .menu > .item {
  position: relative;
  cursor: pointer;
  display: block;
  border: $ui_itemBorder;
  height: $ui_itemHeight;
  text-align: $ui_itemTextAlign;

  border-top: $ui_itemDivider;
  line-height: $ui_itemLineHeight;
  font-size: $ui_itemFontSize;
  color: $ui_itemColor;

  padding: $ui_itemPadding !important;
  font-size: $ui_itemFontSize;
  text-transform: $ui_itemTextTransform;
  font-weight: $ui_itemFontWeight;
  box-shadow: $ui_itemBoxShadow;
  -webkit-touch-callout: none;
}
.ui.dropdown .menu > .item:first-child {
  border-top-width: 0px;
}

/*--------------
  Floated Content
---------------*/

.ui.dropdown > .text > [class*="right floated"],
.ui.dropdown .menu .item > [class*="right floated"] {
  float: right !important;
  margin-right: 0em !important;
  margin-left: $ui_floatedDistance !important;
}
.ui.dropdown > .text > [class*="left floated"],
.ui.dropdown .menu .item > [class*="left floated"] {
  float: left !important;
  margin-left: 0em !important;
  margin-right: $ui_floatedDistance !important;
}

.ui.dropdown .menu .item > .icon.floated,
.ui.dropdown .menu .item > .flag.floated,
.ui.dropdown .menu .item > .image.floated,
.ui.dropdown .menu .item > img.floated {
  margin-top: $ui_itemLineHeightOffset;
}


/*--------------
  Menu Divider
---------------*/

.ui.dropdown .menu > .header {
  margin: $ui_menuHeaderMargin;
  padding: $ui_menuHeaderPadding;
  color: $ui_menuHeaderColor;
  font-size: $ui_menuHeaderFontSize;
  font-weight: $ui_menuHeaderFontWeight;
  text-transform: $ui_menuHeaderTextTransform;
}

.ui.dropdown .menu > .divider {
  border-top: $ui_menuDividerBorder;
  height: 0em;
  margin: $ui_menuDividerMargin;
}

.ui.dropdown.dropdown .menu > .input {
  width: auto;
  display: flex;
  margin: $ui_menuInputMargin;
  min-width: $ui_menuInputMinWidth;
}
.ui.dropdown .menu > .header + .input {
  margin-top: 0em;
}
.ui.dropdown .menu > .input:not(.transparent) input {
  padding: $ui_menuInputPadding;
}
.ui.dropdown .menu > .input:not(.transparent) .button,
.ui.dropdown .menu > .input:not(.transparent) .icon,
.ui.dropdown .menu > .input:not(.transparent) .label {
  padding-top: $ui_menuInputVerticalPadding;
  padding-bottom: $ui_menuInputVerticalPadding;
}

/*-----------------
  Item Description
-------------------*/

.ui.dropdown > .text > .description,
.ui.dropdown .menu > .item > .description {
  float: $ui_itemDescriptionFloat;
  margin: $ui_itemDescriptionMargin;
  color: $ui_itemDescriptionColor;
}

/*-----------------
       Message
-------------------*/

.ui.dropdown .menu > .message {
  padding: $ui_messagePadding;
  font-weight: $ui_messageFontWeight;
}
.ui.dropdown .menu > .message:not(.ui) {
  color: $ui_messageColor;
}

/*--------------
    Sub Menu
---------------*/

.ui.dropdown .menu .menu {
  top: $ui_subMenuTop !important;
  left: $ui_subMenuLeft;
  right: $ui_subMenuRight;
  margin: $ui_subMenuMargin !important;
  border-radius: $ui_subMenuBorderRadius !important;
  z-index: $ui_subMenuZIndex !important;
}

/* Hide Arrow */
.ui.dropdown .menu .menu:after {
  display: none;
}

/*--------------
   Sub Elements
---------------*/

/* Icons / Flags / Labels / Image */
.ui.dropdown > .text > .icon,
.ui.dropdown > .text > .label,
.ui.dropdown > .text > .flag,
.ui.dropdown > .text > img,
.ui.dropdown > .text > .image {
  margin-top: $ui_textLineHeightOffset;
}
.ui.dropdown .menu > .item > .icon,
.ui.dropdown .menu > .item > .label,
.ui.dropdown .menu > .item > .flag,
.ui.dropdown .menu > .item > .image,
.ui.dropdown .menu > .item > img  {
  margin-top: $ui_itemLineHeightOffset;
}

.ui.dropdown > .text > .icon,
.ui.dropdown > .text > .label,
.ui.dropdown > .text > .flag,
.ui.dropdown > .text > img,
.ui.dropdown > .text > .image,
.ui.dropdown .menu > .item > .icon,
.ui.dropdown .menu > .item > .label,
.ui.dropdown .menu > .item > .flag,
.ui.dropdown .menu > .item > .image,
.ui.dropdown .menu > .item > img  {
  margin-left: 0em;
  float: $ui_itemElementFloat;
  margin-right: $ui_itemElementDistance;
}

/*--------------
     Image
---------------*/

.ui.dropdown > .text > img,
.ui.dropdown > .text > .image,
.ui.dropdown .menu > .item > .image,
.ui.dropdown .menu > .item > img {
  display: inline-block;
  vertical-align: top;
  width: auto;
  margin-top: $ui_menuImageVerticalMargin;
  margin-bottom: $ui_menuImageVerticalMargin;
  max-height: $ui_menuImageMaxHeight;
}


/*******************************
            Coupling
*******************************/


/*--------------
      Menu
---------------*/

/* Remove Menu Item Divider */
.ui.dropdown .ui.menu > .item:before,
.ui.menu .ui.dropdown .menu > .item:before {
  display: none;
}

/* Prevent Menu Item Border */
.ui.menu .ui.dropdown .menu .active.item {
  border-left: none;
}

/* Automatically float dropdown menu right on last menu item */
.ui.menu .right.menu .dropdown:last-child .menu,
.ui.menu .right.dropdown.item .menu,
.ui.buttons > .ui.dropdown:last-child .menu {
  left: auto;
  right: 0em;
}

/*--------------
      Label
---------------*/

/* Dropdown Menu */
.ui.label.dropdown .menu {
  min-width: 100%;
}

/*--------------
     Button
---------------*/

/* No Margin On Icon Button */
.ui.dropdown.icon.button > .dropdown.icon {
  margin: 0em;
}
.ui.button.dropdown .menu {
  min-width: 100%;
}



/*******************************
              Types
*******************************/

/*--------------
    Selection
---------------*/

/* Displays like a select box */
.ui.selection.dropdown {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  transform: rotateZ(0deg);

  min-width: $ui_selectionMinWidth;
  min-height: $ui_selectionMinHeight;

  background: $ui_selectionBackground;
  display: $ui_selectionDisplay;
  padding: $ui_selectionPadding;
  color: $ui_selectionTextColor;
  box-shadow: $ui_selectionBoxShadow;
  border: $ui_selectionBorder;
  border-radius: $ui_selectionBorderRadius;
  transition: $ui_selectionTransition;
}
.ui.selection.dropdown.visible,
.ui.selection.dropdown.active {
  z-index: $ui_selectionZIndex;
}

select.ui.dropdown {
  height: $ui_selectHeight;
  padding: $ui_selectPadding;
  border: $ui_selectBorder;
  visibility: $ui_selectVisibility;
}
.ui.selection.dropdown > .search.icon,
.ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon {
  cursor: pointer;
  position: absolute;
  width: auto;
  height: auto;
  line-height: $ui_searchSelectionLineHeight;
  top: $ui_selectionVerticalPadding;
  right: $ui_selectionHorizontalPadding;
  z-index: $ui_selectionIconZIndex;
  margin: $ui_selectionIconMargin;
  padding: $ui_selectionIconPadding;
  opacity: $ui_selectionIconOpacity;
  transition: $ui_selectionIconTransition;
}

/* Compact */
.ui.compact.selection.dropdown {
  min-width:  0px;
}

/*  Selection Menu */
.ui.selection.dropdown .menu {
  overflow-x: hidden;
  overflow-y: auto;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  border-top-width: 0px !important;
  width: auto;
  outline: none;
  margin: 0px (- $ui_menuBorderWidth);
  min-width: $ui_menuMinWidth;
  width: $ui_menuMinWidth;

  border-radius: $ui_selectionMenuBorderRadius;
  box-shadow: $ui_selectionMenuBoxShadow;
  transition: $ui_selectionMenuTransition;
}
.ui.selection.dropdown .menu:after,
.ui.selection.dropdown .menu:before {
  display: none;
}

/*--------------
    Message
---------------*/

.ui.selection.dropdown .menu > .message {
  padding: $ui_selectionMessagePadding;
}

@media only screen and (max-width : $ui_largestMobileScreen) {
  .ui.selection.dropdown .menu {
    max-height: $ui_selectionMobileMaxMenuHeight;
  }
}
@media only screen and (min-width: $ui_tabletBreakpoint) {
  .ui.selection.dropdown .menu {
    max-height: $ui_selectionTabletMaxMenuHeight;
  }
}
@media only screen and (min-width: $ui_computerBreakpoint) {
  .ui.selection.dropdown .menu {
    max-height: $ui_selectionComputerMaxMenuHeight;
  }
}
@media only screen and (min-width: $ui_widescreenMonitorBreakpoint) {
  .ui.selection.dropdown .menu {
    max-height: $ui_selectionWidescreenMaxMenuHeight;
  }
}

/* Menu Item */
.ui.selection.dropdown .menu > .item {
  border-top: $ui_selectionItemDivider;
  padding: $ui_selectionItemPadding !important;
  white-space: normal;
  word-wrap: normal;
}

/* User Item */
.ui.selection.dropdown .menu > .hidden.addition.item {
  display: none;
}

/* Hover */
.ui.selection.dropdown:hover {
  border-color: $ui_selectionHoverBorderColor;
  box-shadow: $ui_selectionHoverBoxShadow;
}

/* Active */
.ui.selection.active.dropdown {
  border-color: $ui_selectionVisibleBorderColor;
  box-shadow: $ui_selectionVisibleBoxShadow;
}
.ui.selection.active.dropdown .menu {
  border-color: $ui_selectionVisibleBorderColor;
  box-shadow: $ui_selectionVisibleMenuBoxShadow;
}

/* Focus */
.ui.selection.dropdown:focus {
  border-color: $ui_selectionFocusBorderColor;
  box-shadow: $ui_selectionFocusBoxShadow;
}
.ui.selection.dropdown:focus .menu {
  border-color: $ui_selectionFocusBorderColor;
  box-shadow: $ui_selectionFocusMenuBoxShadow;
}

/* Visible */
.ui.selection.visible.dropdown > .text:not(.default) {
  font-weight: $ui_selectionVisibleTextFontWeight;
  color: $ui_selectionVisibleTextColor;
}

/* Visible Hover */
.ui.selection.active.dropdown:hover {
  border-color: $ui_selectionActiveHoverBorderColor;
  box-shadow: $ui_selectionActiveHoverBoxShadow;
}
.ui.selection.active.dropdown:hover .menu {
  border-color: $ui_selectionActiveHoverBorderColor;
  box-shadow: $ui_selectionActiveHoverMenuBoxShadow;
}

/* Dropdown Icon */
.ui.active.selection.dropdown > .dropdown.icon,
.ui.visible.selection.dropdown > .dropdown.icon {
  opacity: $ui_selectionVisibleIconOpacity;
  z-index: 3;
}

/* Connecting Border */
.ui.active.selection.dropdown {
  border-bottom-left-radius: $ui_selectionVisibleConnectingBorder !important;
  border-bottom-right-radius: $ui_selectionVisibleConnectingBorder !important;
}

/* Empty Connecting Border */
.ui.active.empty.selection.dropdown {
  border-radius: $ui_selectionBorderRadius !important;
  box-shadow: $ui_selectionBoxShadow !important;
}
.ui.active.empty.selection.dropdown .menu {
  border: none !important;
  box-shadow: none !important;
}

/*--------------
   Searchable
---------------*/

/* Search Selection */
.ui.search.dropdown {
  min-width: $ui_searchMinWidth;
}

/* Search Dropdown */
.ui.search.dropdown > input.search {
  background: none transparent !important;
  border: none !important;
  box-shadow: none !important;
  cursor: text;
  top: 0em;
  left: $ui_textCursorSpacing;
  width: 100%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  padding: inherit;
}

/* Text Layering */
.ui.search.dropdown > input.search {
  position: absolute;
  z-index: 2;
}
.ui.search.dropdown > .text {
  cursor: text;
  position: relative;
  left: $ui_textCursorSpacing;
  z-index: 3;
}

/* Search Selection */
.ui.search.selection.dropdown > input.search {
  line-height: $ui_searchSelectionLineHeight;
  padding: $ui_searchSelectionInputPadding;
}

/* Used to size multi select input to character width */
.ui.search.selection.dropdown > span.sizer {
  line-height: $ui_searchSelectionLineHeight;
  padding: $ui_searchSelectionInputPadding;
  display: none;
  white-space: pre;
}

/* Active/Visible Search */
.ui.search.dropdown.active > input.search,
.ui.search.dropdown.visible > input.search {
  cursor: auto;
}
.ui.search.dropdown.active > .text,
.ui.search.dropdown.visible > .text {
  pointer-events: none;
}

/* Filtered Text */
.ui.active.search.dropdown input.search:focus + .text .icon,
.ui.active.search.dropdown input.search:focus + .text .flag {
  opacity: $ui_selectionTextUnderlayIconOpacity;
}
.ui.active.search.dropdown input.search:focus + .text {
  color: $ui_selectionTextUnderlayColor !important;
}

/* Search Menu */
.ui.search.dropdown .menu {
  overflow-x: hidden;
  overflow-y: auto;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width : $ui_largestMobileScreen) {
  .ui.search.dropdown .menu {
    max-height: $ui_searchMobileMaxMenuHeight;
  }
}
@media only screen and (min-width: $ui_tabletBreakpoint) {
  .ui.search.dropdown .menu {
    max-height: $ui_searchTabletMaxMenuHeight;
  }
}
@media only screen and (min-width: $ui_computerBreakpoint) {
  .ui.search.dropdown .menu {
    max-height: $ui_searchComputerMaxMenuHeight;
  }
}
@media only screen and (min-width: $ui_widescreenMonitorBreakpoint) {
  .ui.search.dropdown .menu {
    max-height: $ui_searchWidescreenMaxMenuHeight;
  }
}

/*--------------
    Multiple
---------------*/

/* Multiple Selection */
.ui.multiple.dropdown {
  padding: $ui_multipleSelectionPadding;
}
.ui.multiple.dropdown .menu {
  cursor: auto;
}

/* Multiple Search Selection */
.ui.multiple.search.dropdown,
.ui.multiple.search.dropdown > input.search {
  cursor: text;
}

/* Selection Label */
.ui.multiple.dropdown > .label {
  user-select: none;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  font-size: $ui_labelSize;
  padding: $ui_labelPadding;
  margin: $ui_labelMargin;
  box-shadow: $ui_labelBoxShadow;
}

/* Dropdown Icon */
.ui.multiple.dropdown .dropdown.icon {
  margin: $ui_multipleSelectionDropdownIconMargin;
  padding: $ui_multipleSelectionDropdownIconPadding;
}

/* Text */
.ui.multiple.dropdown > .text {
  position: static;
  padding: 0;
  max-width: 100%;
  margin: $ui_multipleSelectionChildMargin;
  line-height: $ui_multipleSelectionChildLineHeight;
}
.ui.multiple.dropdown > .label ~ input.search {
  margin-left: $ui_multipleSelectionSearchAfterLabelDistance !important;
}
.ui.multiple.dropdown > .label ~ .text {
  display: none;
}

/*-----------------
  Multiple Search
-----------------*/

/* Prompt Text */
.ui.multiple.search.dropdown > .text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  margin: $ui_multipleSelectionChildMargin;
  line-height: $ui_multipleSelectionChildLineHeight;
}

.ui.multiple.search.dropdown > .label ~ .text {
  display: none;
}

/* Search */
.ui.multiple.search.dropdown > input.search {
  position: static;
  padding: 0;
  max-width: 100%;
  margin: $ui_multipleSelectionChildMargin;
  width: $ui_multipleSelectionSearchStartWidth;
  line-height: $ui_multipleSelectionChildLineHeight;
}


/*--------------
     Inline
---------------*/

.ui.inline.dropdown {
  cursor: pointer;
  display: inline-block;
  color: $ui_inlineTextColor;
}
.ui.inline.dropdown .dropdown.icon {
  margin: $ui_inlineIconMargin;
  vertical-align: baseline;
}
.ui.inline.dropdown > .text {
  font-weight: $ui_inlineTextFontWeight;
}
.ui.inline.dropdown .menu {
  cursor: auto;
  margin-top: $ui_inlineMenuDistance;
  border-radius: $ui_inlineMenuBorderRadius;
}


/*******************************
            States
*******************************/


/*--------------------
        Active
----------------------*/

/* Menu Item Active */
.ui.dropdown .menu .active.item {
  background: $ui_activeItemBackground;
  font-weight: $ui_activeItemFontWeight;
  color: $ui_activeItemColor;
  box-shadow: $ui_activeItemBoxShadow;
  z-index: $ui_activeItemZIndex;
}


/*--------------------
        Hover
----------------------*/

/* Menu Item Hover */
.ui.dropdown .menu > .item:hover {
  background: $ui_hoveredItemBackground;
  color: $ui_hoveredItemColor;
  z-index: $ui_hoveredZIndex;
}

/*--------------------
       Loading
---------------------*/

.ui.loading.dropdown > i.icon {
  height: $ui_relative14px !important;
}
.ui.loading.selection.dropdown > i.icon {
  padding: $ui_relative21px $ui_relative18px !important;
}
.ui.loading.dropdown > i.icon:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;

  margin: $ui_loaderMargin;
  width: $ui_loaderSize;
  height: $ui_loaderSize;

  border-radius: $ui_circularRadius;
  border: $ui_loaderLineWidth solid $ui_loaderFillColor;
}
.ui.loading.dropdown > i.icon:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 0px 1px transparent;

  margin: $ui_loaderMargin;
  width: $ui_loaderSize;
  height: $ui_loaderSize;

  animation: dropdown-spin $ui_loaderSpeed linear;
  animation-iteration-count: infinite;

  border-radius: $ui_circularRadius;

  border-color: $ui_loaderLineColor transparent transparent;
  border-style: solid;
  border-width: $ui_loaderLineWidth;
}

/* Coupling */
.ui.loading.dropdown.button > i.icon:before,
.ui.loading.dropdown.button > i.icon:after {
  display: none;
}

@keyframes dropdown-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*--------------------
     Default Text
----------------------*/

.ui.dropdown:not(.button) > .default.text,
.ui.default.dropdown:not(.button) > .text {
  color: $ui_defaultTextColor;
}
.ui.dropdown:not(.button) > input:focus ~ .default.text,
.ui.default.dropdown:not(.button) > input:focus ~ .text {
  color: $ui_defaultTextFocusColor;
}
/*--------------------
        Loading
----------------------*/

.ui.loading.dropdown > .text {
  transition: none;
}

/* Used To Check Position */
.ui.dropdown .loading.menu {
  display: block;
  visibility: hidden;
  z-index: $ui_loadingZIndex;
}
.ui.dropdown > .loading.menu {
  left: 0px !important;
  right: auto !important;
}
.ui.dropdown > .menu .loading.menu {
  left: 100% !important;
  right: auto !important;
}

/*--------------------
    Keyboard Select
----------------------*/

/* Selected Item */
.ui.dropdown.selected,
.ui.dropdown .menu .selected.item {
  background: $ui_selectedBackground;
  color: $ui_selectedColor;
}


/*--------------------
    Search Filtered
----------------------*/

/* Filtered Item */
.ui.dropdown > .filtered.text {
  visibility: hidden;
}
.ui.dropdown .filtered.item {
  display: none !important;
}


/*--------------------
        Error
----------------------*/

.ui.dropdown.error,
.ui.dropdown.error > .text,
.ui.dropdown.error > .default.text {
  color: $ui_errorTextColor;
}

.ui.selection.dropdown.error {
  background: $ui_errorBackgroundColor;
  border-color: $ui_errorBorderColor;
}
.ui.selection.dropdown.error:hover {
  border-color: $ui_errorBorderColor;
}

.ui.dropdown.error > .menu,
.ui.dropdown.error > .menu .menu {
  border-color: $ui_errorBorderColor;
}
.ui.dropdown.error > .menu > .item {
  color: $ui_errorItemTextColor;
}
.ui.multiple.selection.error.dropdown > .label {
  border-color: $ui_errorBorderColor;
}

/* Item Hover */
.ui.dropdown.error > .menu > .item:hover {
  background-color: $ui_errorItemHoverBackground;
}

/* Item Active */
.ui.dropdown.error > .menu .active.item {
  background-color: $ui_errorItemActiveBackground;
}



/*--------------------
        Disabled
----------------------*/

/* Disabled */
.ui.disabled.dropdown,
.ui.dropdown .menu > .disabled.item {
  cursor: default;
  pointer-events: none;
  opacity: $ui_disabledOpacity;
}


/*******************************
           Variations
*******************************/

/*--------------
    Direction
---------------*/

/* Flyout Direction */
.ui.dropdown .menu {
  left: 0px;
}


/* Default Side (Right) */
.ui.dropdown .right.menu > .menu,
.ui.dropdown .menu .right.menu {
  left: 100% !important;
  right: auto !important;
  border-radius: $ui_subMenuBorderRadius !important;
}

/* Leftward Opening Menu */
.ui.dropdown > .left.menu {
  left: auto !important;
  right: 0px !important;
}

.ui.dropdown > .left.menu .menu,
.ui.dropdown .menu .left.menu {
  left: auto;
  right: 100%;
  margin: $ui_leftSubMenuMargin !important;
  border-radius: $ui_leftSubMenuBorderRadius !important;
}

.ui.dropdown .item .left.dropdown.icon,
.ui.dropdown .left.menu .item .dropdown.icon {
  width: auto;
  float: $ui_leftMenuDropdownIconFloat;
  margin: $ui_leftMenuDropdownIconMargin;
}
.ui.dropdown .item .left.dropdown.icon,
.ui.dropdown .left.menu .item .dropdown.icon {
  width: auto;
  float: $ui_leftMenuDropdownIconFloat;
  margin: $ui_leftMenuDropdownIconMargin;
}
.ui.dropdown .item .left.dropdown.icon + .text,
.ui.dropdown .left.menu .item .dropdown.icon + .text {
  margin-left: $ui_itemDropdownIconDistance;
  margin-right: 0em;
}


/*--------------
     Upward
---------------*/

/* Upward Main Menu */
.ui.upward.dropdown > .menu {
  top: auto;
  bottom: 100%;
  box-shadow: $ui_upwardMenuBoxShadow;
  border-radius: $ui_upwardMenuBorderRadius;
}

/* Upward Sub Menu */
.ui.dropdown .upward.menu {
  top: auto !important;
  bottom: 0 !important;
}

/* Active Upward */
.ui.simple.upward.active.dropdown,
.ui.simple.upward.dropdown:hover {
  border-radius: $ui_borderRadius $ui_borderRadius 0em 0em !important;
}
.ui.upward.dropdown.button:not(.pointing):not(.floating).active {
  border-radius: $ui_borderRadius $ui_borderRadius 0em 0em;
}

/* Selection */
.ui.upward.selection.dropdown .menu {
  border-top-width: $ui_menuBorderWidth !important;
  border-bottom-width: 0px !important;
  box-shadow: $ui_upwardSelectionMenuBoxShadow;
}
.ui.upward.selection.dropdown:hover {
  box-shadow: $ui_upwardSelectionHoverBoxShadow;
}

/* Active Upward */
.ui.active.upward.selection.dropdown {
  border-radius: $ui_upwardSelectionVisibleBorderRadius !important;
}

/* Visible Upward */
.ui.upward.selection.dropdown.visible {
  box-shadow: $ui_upwardSelectionVisibleBoxShadow;
  border-radius: $ui_upwardSelectionVisibleBorderRadius !important;
}

/* Visible Hover Upward */
.ui.upward.active.selection.dropdown:hover {
  box-shadow: $ui_upwardSelectionActiveHoverBoxShadow;
}
.ui.upward.active.selection.dropdown:hover .menu {
  box-shadow: $ui_upwardSelectionActiveHoverMenuBoxShadow;
}

/*--------------
     Simple
---------------*/

/*  Selection Menu */
.ui.scrolling.dropdown .menu,
.ui.dropdown .scrolling.menu {
  overflow-x: hidden;
  overflow-y: auto;
}

.ui.scrolling.dropdown .menu {
  overflow-x: hidden;
  overflow-y: auto;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  min-width: 100% !important;
  width: auto !important;
}

.ui.dropdown .scrolling.menu {
  position: static;
  overflow-y: auto;
  border: none;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  min-width: 100% !important;
  width: auto !important;
  border-top: $ui_menuBorder;
}
.ui.scrolling.dropdown .menu .item.item.item,
.ui.dropdown .scrolling.menu > .item.item.item {
  border-top: $ui_scrollingMenuItemBorder;
}
.ui.scrolling.dropdown .menu .item:first-child,
.ui.dropdown .scrolling.menu .item:first-child {
  border-top: none;
}
.ui.dropdown > .animating.menu .scrolling.menu,
.ui.dropdown > .visible.menu .scrolling.menu {
  display: block;
}

/* Scrollbar in IE */
@media all and (-ms-high-contrast:none) {
  .ui.scrolling.dropdown .menu,
  .ui.dropdown .scrolling.menu {
    min-width: unquote("calc(100% - ") $ui_scrollbarWidth unquote(")") ;
  }
}
@media only screen and (max-width : $ui_largestMobileScreen) {
  .ui.scrolling.dropdown .menu,
  .ui.dropdown .scrolling.menu {
    max-height: $ui_scrollingMobileMaxMenuHeight;
  }
}
@media only screen and (min-width: $ui_tabletBreakpoint) {
  .ui.scrolling.dropdown .menu,
  .ui.dropdown .scrolling.menu {
    max-height: $ui_scrollingTabletMaxMenuHeight;
  }
}
@media only screen and (min-width: $ui_computerBreakpoint) {
  .ui.scrolling.dropdown .menu,
  .ui.dropdown .scrolling.menu {
    max-height: $ui_scrollingComputerMaxMenuHeight;
  }
}
@media only screen and (min-width: $ui_widescreenMonitorBreakpoint) {
  .ui.scrolling.dropdown .menu,
  .ui.dropdown .scrolling.menu {
    max-height: $ui_scrollingWidescreenMaxMenuHeight;
  }
}

/*--------------
     Simple
---------------*/

/* Displays without javascript */

.ui.simple.dropdown .menu:before,
.ui.simple.dropdown .menu:after {
  display: none;
}
.ui.simple.dropdown .menu {
  position: absolute;
  display: block;
  overflow: hidden;
  top: -9999px !important;
  opacity: 0;
  width: 0;
  height: 0;
  transition: $ui_simpleTransition;
}

.ui.simple.active.dropdown,
.ui.simple.dropdown:hover {
  border-bottom-left-radius: 0em !important;
  border-bottom-right-radius: 0em !important;
}

.ui.simple.active.dropdown > .menu,
.ui.simple.dropdown:hover > .menu {
  overflow: visible;
  width: auto;
  height: auto;
  top: 100% !important;
  opacity: 1;
}
.ui.simple.dropdown > .menu > .item:active > .menu,
.ui.simple.dropdown:hover > .menu > .item:hover > .menu {
  overflow: visible;
  width: auto;
  height: auto;
  top: 0% !important;
  left: 100% !important;
  opacity: 1;
}
.ui.simple.disabled.dropdown:hover .menu {
  display: none;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

/* Visible */
.ui.simple.visible.dropdown > .menu {
  display: block;
}

/*--------------
      Fluid
---------------*/

.ui.fluid.dropdown {
  display: block;
  width: 100%;
  min-width: 0em;
}
.ui.fluid.dropdown > .dropdown.icon {
  float: right;
}


/*--------------
    Floating
---------------*/

.ui.floating.dropdown .menu {
  left: 0;
  right: auto;
  box-shadow: $ui_floatingMenuBoxShadow !important;
  border-radius: $ui_floatingMenuBorderRadius !important;
}
.ui.floating.dropdown > .menu {
  margin-top: $ui_floatingMenuDistance !important;
  border-radius: $ui_floatingMenuBorderRadius !important;
}

/*--------------
     Pointing
---------------*/

.ui.pointing.dropdown > .menu {
  top: 100%;
  margin-top: $ui_pointingMenuDistance;
  border-radius: $ui_pointingMenuBorderRadius;
}

.ui.pointing.dropdown > .menu:after {
  display: block;
  position: absolute;
  pointer-events: none;
  content: '';
  visibility: visible;
  transform: rotate(45deg);

  width: $ui_pointingArrowSize;
  height: $ui_pointingArrowSize;
  box-shadow: $ui_pointingArrowBoxShadow;
  background: $ui_pointingArrowBackground;
  z-index: $ui_pointingArrowZIndex;
}

.ui.pointing.dropdown > .menu:after {
  top: $ui_pointingArrowOffset;
  left: 50%;
  margin: 0em 0em 0em $ui_pointingArrowOffset;
}

/* Top Left Pointing */
.ui.top.left.pointing.dropdown > .menu {
  top: 100%;
  bottom: auto;
  left: 0%;
  right: auto;
  margin: $ui_pointingArrowDistanceFromEdge 0em 0em;
}
.ui.top.left.pointing.dropdown > .menu {
  top: 100%;
  bottom: auto;
  left: 0%;
  right: auto;
  margin: $ui_pointingArrowDistanceFromEdge 0em 0em;
}
.ui.top.left.pointing.dropdown > .menu:after {
  top: $ui_pointingArrowOffset;
  left: $ui_pointingArrowDistanceFromEdge;
  right: auto;
  margin: 0em;
  transform: rotate(45deg);
}
/* Top Right Pointing */
.ui.top.right.pointing.dropdown > .menu {
  top: 100%;
  bottom: auto;
  right: 0%;
  left: auto;
  margin: $ui_pointingArrowDistanceFromEdge 0em 0em;
}
.ui.top.pointing.dropdown > .left.menu:after,
.ui.top.right.pointing.dropdown > .menu:after {
  top: $ui_pointingArrowOffset;
  left: auto !important;
  right: $ui_pointingArrowDistanceFromEdge !important;
  margin: 0em;
  transform: rotate(45deg);
}

/* Left Pointing */
.ui.left.pointing.dropdown > .menu {
  top: 0%;
  left: 100%;
  right: auto;
  margin: 0em 0em 0em $ui_pointingArrowDistanceFromEdge;
}
.ui.left.pointing.dropdown > .menu:after {
  top: 1em;
  left: $ui_pointingArrowOffset;
  margin: 0em 0em 0em 0em;
  transform: rotate(-45deg);
}
.ui.left:not(.top):not(.bottom).pointing.dropdown > .left.menu {
  left: auto !important;
  right: 100% !important;
  margin: 0em $ui_pointingArrowDistanceFromEdge 0em 0em;
}
.ui.left:not(.top):not(.bottom).pointing.dropdown > .left.menu:after {
  top: 1em;
  left: auto;
  right: $ui_pointingArrowOffset;
  margin: 0em 0em 0em 0em;
  transform: rotate(135deg);
}


/* Right Pointing */
.ui.right.pointing.dropdown > .menu {
  top: 0%;
  left: auto;
  right: 100%;
  margin: 0em $ui_pointingArrowDistanceFromEdge 0em 0em;
}
.ui.right.pointing.dropdown > .menu:after {
  top: 1em;
  left: auto;
  right: $ui_pointingArrowOffset;
  margin: 0em 0em 0em 0em;
  transform: rotate(135deg);
}

/* Bottom Pointing */
.ui.bottom.pointing.dropdown > .menu {
  top: auto;
  bottom: 100%;
  left: 0%;
  right: auto;
  margin: 0em 0em $ui_pointingArrowDistanceFromEdge ;
}
.ui.bottom.pointing.dropdown > .menu:after {
  top: auto;
  bottom: $ui_pointingArrowOffset;
  right: auto;
  margin: 0em;
  transform: rotate(-135deg);
}
/* Reverse Sub-Menu Direction */
.ui.bottom.pointing.dropdown > .menu .menu {
  top: auto !important;
  bottom: 0px !important;
}

/* Bottom Left */
.ui.bottom.left.pointing.dropdown > .menu {
  left: 0%;
  right: auto;
}
.ui.bottom.left.pointing.dropdown > .menu:after {
  left: $ui_pointingArrowDistanceFromEdge;
  right: auto;
}

/* Bottom Right */
.ui.bottom.right.pointing.dropdown > .menu {
  right: 0%;
  left: auto;
}
.ui.bottom.right.pointing.dropdown > .menu:after {
  left: auto;
  right: $ui_pointingArrowDistanceFromEdge;
}

/* Upward pointing */
.ui.pointing.upward.dropdown .menu,
.ui.top.pointing.upward.dropdown .menu {
  top: auto !important;
  bottom: 100% !important;
  margin: 0em 0em $ui_pointingMenuDistance;
  border-radius: $ui_pointingUpwardMenuBorderRadius;
}
.ui.pointing.upward.dropdown .menu:after,
.ui.top.pointing.upward.dropdown .menu:after {
  top: 100% !important;
  bottom: auto !important;
  box-shadow: $ui_pointingUpwardArrowBoxShadow;
  margin: $ui_pointingArrowOffset 0em 0em;
}

/* Right Pointing Upward */
.ui.right.pointing.upward.dropdown:not(.top):not(.bottom) .menu {
  top: auto !important;
  bottom: 0 !important;
  margin: 0em $ui_pointingArrowDistanceFromEdge 0em 0em;
}
.ui.right.pointing.upward.dropdown:not(.top):not(.bottom) .menu:after {
  top: auto !important;
  bottom: 0 !important;
  margin: 0em 0em $ui_pointingArrowDistanceFromEdge 0em;
  box-shadow: $ui_pointingArrowBoxShadow;
}


/* Left Pointing Upward */
.ui.left.pointing.upward.dropdown:not(.top):not(.bottom) .menu {
  top: auto !important;
  bottom: 0 !important;
  margin: 0em 0em 0em $ui_pointingArrowDistanceFromEdge;
}
.ui.left.pointing.upward.dropdown:not(.top):not(.bottom) .menu:after {
  top: auto !important;
  bottom: 0 !important;
  margin: 0em 0em $ui_pointingArrowDistanceFromEdge 0em;
  box-shadow: $ui_pointingArrowBoxShadow;
}

loadUIOverrides();

