/*******************************
         Site Settings
*******************************/

/*-------------------
        Paths
--------------------*/

$ui_imagePath = "../../themes/default/assets/images";
$ui_fontPath  = "../../themes/default/assets/fonts";

/*-------------------
       Fonts
--------------------*/

$ui_headerFont    = "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
$ui_pageFont      = "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
$ui_fontSmoothing = antialiased;

/*-------------------
      Site Colors
--------------------*/

/*---  Colors  ---*/
$ui_blue             = #0074D9;
$ui_green            = #2ECC40;
$ui_orange           = #FF851B;
$ui_pink             = #D9499A;
$ui_purple           = #A24096;
$ui_red              = #FF4136;
$ui_teal             = #39CCCC;
$ui_yellow           = #FFCB08;

$ui_black            = #191919;
$ui_grey             = #CCCCCC;
$ui_white            = #FFFFFF;

/*---  Light Colors  ---*/
$ui_lightBlue        = #54C8FF;
$ui_lightGreen       = #2ECC40;
$ui_lightOrange      = #FF851B;
$ui_lightPink        = #FF8EDF;
$ui_lightPurple      = #CDC6FF;
$ui_lightRed         = #FF695E;
$ui_lightTeal        = #6DFFFF;
$ui_lightYellow      = #FFE21F;

$ui_primaryColor     = $ui_blue;
$ui_secondaryColor   = $ui_black;


/*-------------------
        Page
--------------------*/

$ui_bodyBackground      = #FCFCFC;
$ui_fontSize            = 14px;
$ui_textColor           = rgba(0, 0, 0, 0.8);

$ui_headerMargin        = 1em 0em 1rem;
$ui_paragraphMargin     = 0em 0em 1em;

$ui_linkColor           = #009FDA;
$ui_linkUnderline       = none;
$ui_linkHoverColor      = lighten( $ui_linkColor, 5);
$ui_linkHoverUnderline  = $ui_linkUnderline;

$ui_highlightBackground = #FFFFCC;
$ui_highlightColor      = $ui_textColor;



/*-------------------
  Background Colors
--------------------*/

$ui_subtleTransparentBlack = rgba(0, 0, 0, 0.03);
$ui_transparentBlack       = rgba(0, 0, 0, 0.05);
$ui_strongTransparentBlack = rgba(0, 0, 0, 0.10);

$ui_subtleTransparentWhite = rgba(255, 255, 255, 0.01);
$ui_transparentWhite       = rgba(255, 255, 255, 0.05);
$ui_strongTransparentWhite = rgba(255, 255, 255, 0.01);

/* Used for differentiating neutrals */
$ui_subtleGradient= linear-gradient(transparent, rgba(0, 0, 0, 0.05));

/* Used for differentiating layers */
$ui_subtleShadow= 0px 1px 2px 0 rgba(0, 0, 0, 0.05);


/*-------------------
        Grid
--------------------*/

$ui_columnCount= 16;

/*-------------------
     Breakpoints
--------------------*/

$ui_mobileBreakpoint            = 320px;
$ui_tabletBreakpoint            = 768px;
$ui_computerBreakpoint          = 992px;
$ui_largeMonitorBreakpoint      = 1400px;
$ui_widescreenMonitorBreakpoint = 1900px;


