/*-------------------
   Button Variables
--------------------*/

/* Button Variables */
$ui_pageFont= 'Source Sans Pro', Arial, sans-serif;

$ui_textTransform= none;
$ui_fontWeight= normal;
$ui_textColor= #333333;

$ui_verticalPadding= 1.1em;
$ui_horizontalPadding= 2.5em;
$ui_invertedBorderSize= 3px;

$ui_basicBorderRadius= 0.4em;
$ui_basicFontWeight= bold;
$ui_basicTextTransform= uppercase;

$ui_blue= #4A88CB;
$ui_primaryColor= $ui_blue;

$ui_borderRadius= 0.25em;

$ui_backgroundColor= #E6EAED;
$ui_backgroundImage= none;
$ui_boxShadow= none;

$ui_hoverBackgroundColor= #DDDDDD;
$ui_hoverBackgroundImage= none;
$ui_hoverBoxShadow= none;

$ui_downBackgroundColor= #D0D0D0;
$ui_downBackgroundImage= none;
$ui_downBoxShadow= none;

$ui_activeBackgroundColor= #CCCCCC;
$ui_activeBackgroundImage= none;
$ui_activeBoxShadow= none;

$ui_verticalBoxShadow= none;

$ui_loadingBackgroundColor= #F0F0F0;

$ui_compactVerticalPadding= ($ui_verticalPadding * 0.5);
$ui_compactHorizontalPadding= ($ui_horizontalPadding * 0.5);

$ui_labeledIconBackgroundColor= transparent;

$ui_mini= 0.7rem;
$ui_tiny= 0.75rem;
$ui_small= 0.8rem;
$ui_medium= 0.92rem;
$ui_large= 1rem;
$ui_big= 1.125rem;
$ui_huge= 1.2rem;
$ui_massive= 1.3rem;

