/*******************************
             Modal
*******************************/

$ui_background= $ui_white;
$ui_border= none;
$ui_zIndex= 1001;
$ui_borderRadius= $ui_defaultBorderRadius;
$ui_transformOrigin= 50% 25%;
$ui_boxShadow=1px 3px 3px 0px rgba(0, 0, 0, 0.2),
  1px 3px 15px 2px rgba(0, 0, 0, 0.2);

/* Close Icon */
$ui_closeOpacity= 0.8;
$ui_closeSize= 1.25em;
$ui_closeColor= $ui_white;

$ui_closeHitbox= 2.25rem;
$ui_closeDistance= 0.25rem;
$ui_closeHitBoxOffset= ($ui_closeHitbox - 1rem) / 2;
$ui_closePadding= $ui_closeHitBoxOffset 0rem 0rem 0rem;
$ui_closeTop= -($ui_closeDistance + $ui_closeHitbox);
$ui_closeRight= -($ui_closeDistance + $ui_closeHitbox);

/* Header */
$ui_headerMargin= 0em;
$ui_headerVerticalPadding= 1.25rem;
$ui_headerHorizontalPadding= 1.5rem;
$ui_headerPadding= $ui_headerVerticalPadding $ui_headerHorizontalPadding;
$ui_headerBackground= $ui_white;
$ui_headerColor= $ui_darkTextColor;
$ui_headerFontSize= $ui_huge;
$ui_headerBoxShadow= none;
$ui_headerFontWeight= $ui_bold;
$ui_headerFontFamily= $ui_headerFont;
$ui_headerBorder= 1px solid $ui_borderColor;

/* Content */
$ui_contentFontSize= 1em;
$ui_contentPadding= 1.5rem;
$ui_contentLineHeight= 1.4;
$ui_contentBackground= #FFFFFF;

/* Image / Description */
$ui_imageWidth= '';
$ui_imageIconSize= 8rem;
$ui_imageVerticalAlign= top;

$ui_descriptionDistance= 2em;
$ui_descriptionMinWidth= '';
$ui_descriptionWidth= auto;
$ui_descriptionVerticalAlign= top;

/* Modal Actions */
$ui_actionBorder= 1px solid $ui_borderColor;
$ui_actionBackground= $ui_offWhite;
$ui_actionPadding= 1rem 1rem;
$ui_actionAlign= right;

$ui_buttonDistance= 0.75em;

/* Inner Close Position (Tablet/Mobile) */
$ui_innerCloseTop= ($ui_headerVerticalPadding - $ui_closeHitBoxOffset + ($ui_lineHeight - 1em));
$ui_innerCloseRight= 1rem;
$ui_innerCloseColor= $ui_textColor;

/* Mobile Positions */
$ui_mobileHeaderPadding= 0.75rem 1rem;
$ui_mobileContentPadding= 1rem;
$ui_mobileImagePadding= 0rem 0rem 1rem;
$ui_mobileDescriptionPadding= 1rem 0rem ;
$ui_mobileButtonDistance= 1rem;
$ui_mobileActionPadding= 1rem 1rem (1rem - $ui_mobileButtonDistance);
$ui_mobileImageIconSize= 5rem;
$ui_mobileCloseTop= 0.5rem;
$ui_mobileCloseRight= 0.5rem;

/* Responsive Widths */
$ui_mobileWidth= 95%;
$ui_tabletWidth= 88%;
$ui_computerWidth= 850px;
$ui_largeMonitorWidth= 900px;
$ui_widescreenMonitorWidth= 950px;

$ui_mobileMargin= 0em 0em 0em 0em;
$ui_tabletMargin= 0em 0em 0em 0em;
$ui_computerMargin= 0em 0em 0em 0em;
$ui_largeMonitorMargin= 0em 0em 0em 0em;
$ui_widescreenMonitorMargin= 0em 0em 0em 0em;

$ui_fullScreenWidth= 95%;
$ui_fullScreenOffset= 0em;
$ui_fullScreenMargin= 1em auto;

/* Coupling */
$ui_invertedBoxShadow= 1px 3px 10px 2px rgba(0, 0, 0, 0.2);

/*-------------------
       States
--------------------*/

$ui_loadingZIndex= -1;

/*-------------------
        Types
--------------------*/

/* Basic */
$ui_basicModalHeaderColor= $ui_white;
$ui_basicModalColor= $ui_white;
$ui_basicModalCloseTop= 1rem;
$ui_basicModalCloseRight= 1.5rem;
$ui_basicInnerCloseColor= $ui_white;

$ui_basicInvertedModalColor= $ui_textColor;
$ui_basicInvertedModalHeaderColor= $ui_darkTextColor;

/* Top Aligned */
$ui_topAlignedMargin= 5vh;
$ui_mobileTopAlignedMargin= 1rem;

/* Scrolling Margin */
$ui_scrollingMargin= 1rem;
$ui_mobileScrollingMargin= $ui_mobileTopAlignedMargin;

/* Scrolling Content */
$ui_scrollingContentMaxHeight= calc(80vh - 10em);

/*-------------------
      Variations
--------------------*/

/* Size Widths */
$ui_miniRatio= 0.4;
$ui_tinyRatio= 0.6;
$ui_smallRatio= 0.8;
$ui_largeRatio= 1.2;

/* Derived Responsive Sizes */
$ui_miniHeaderSize= 1.3em;
$ui_miniMobileWidth= $ui_mobileWidth;
$ui_miniTabletWidth= ($ui_tabletWidth * $ui_miniRatio);
$ui_miniComputerWidth= ($ui_computerWidth * $ui_miniRatio);
$ui_miniLargeMonitorWidth= ($ui_largeMonitorWidth * $ui_miniRatio);
$ui_miniWidescreenMonitorWidth= ($ui_widescreenMonitorWidth * $ui_miniRatio);

$ui_miniMobileMargin= 0em 0em 0em 0em;
$ui_miniTabletMargin= 0em 0em 0em 0em;
$ui_miniComputerMargin= 0em 0em 0em 0em;
$ui_miniLargeMonitorMargin= 0em 0em 0em 0em;
$ui_miniWidescreenMonitorMargin= 0em 0em 0em 0em;

$ui_tinyHeaderSize= 1.3em;
$ui_tinyMobileWidth= $ui_mobileWidth;
$ui_tinyTabletWidth= ($ui_tabletWidth * $ui_tinyRatio);
$ui_tinyComputerWidth= ($ui_computerWidth * $ui_tinyRatio);
$ui_tinyLargeMonitorWidth= ($ui_largeMonitorWidth * $ui_tinyRatio);
$ui_tinyWidescreenMonitorWidth= ($ui_widescreenMonitorWidth * $ui_tinyRatio);

$ui_tinyMobileMargin= 0em 0em 0em 0em;
$ui_tinyTabletMargin= 0em 0em 0em 0em;
$ui_tinyComputerMargin= 0em 0em 0em 0em;
$ui_tinyLargeMonitorMargin= 0em 0em 0em 0em;
$ui_tinyWidescreenMonitorMargin= 0em 0em 0em 0em;

$ui_smallHeaderSize= 1.3em;
$ui_smallMobileWidth= $ui_mobileWidth;
$ui_smallTabletWidth= ($ui_tabletWidth * $ui_smallRatio);
$ui_smallComputerWidth= ($ui_computerWidth * $ui_smallRatio);
$ui_smallLargeMonitorWidth= ($ui_largeMonitorWidth * $ui_smallRatio);
$ui_smallWidescreenMonitorWidth= ($ui_widescreenMonitorWidth * $ui_smallRatio);

$ui_smallMobileMargin= 0em 0em 0em 0em;
$ui_smallTabletMargin= 0em 0em 0em 0em;
$ui_smallComputerMargin= 0em 0em 0em 0em;
$ui_smallLargeMonitorMargin= 0em 0em 0em 0em;
$ui_smallWidescreenMonitorMargin= 0em 0em 0em 0em;

$ui_largeHeaderSize= 1.6em;
$ui_largeMobileWidth= $ui_mobileWidth;
$ui_largeTabletWidth= $ui_tabletWidth;
$ui_largeComputerWidth= ($ui_computerWidth * $ui_largeRatio);
$ui_largeLargeMonitorWidth= ($ui_largeMonitorWidth * $ui_largeRatio);
$ui_largeWidescreenMonitorWidth= ($ui_widescreenMonitorWidth * $ui_largeRatio);

$ui_largeMobileMargin= 0em 0em 0em 0em;
$ui_largeTabletMargin= 0em 0em 0em 0em;
$ui_largeComputerMargin= 0em 0em 0em 0em;
$ui_largeLargeMonitorMargin= 0em 0em 0em 0em;
$ui_largeWidescreenMonitorMargin= 0em 0em 0em 0em;

