/*******************************
             Nag
*******************************/

/*--------------
   Collection
---------------*/

$ui_position= relative;
$ui_width= 100%;
$ui_zIndex= 999;
$ui_margin= 0em;

$ui_background= #555555;
$ui_opacity= 0.95;
$ui_minHeight= 0em;
$ui_padding= 0.75em 1em;
$ui_lineHeight= 1em;
$ui_boxShadow= 0px 1px 2px 0px rgba(0, 0, 0, 0.2);

$ui_fontSize= 1rem;
$ui_textAlign= center;
$ui_color= $ui_textColor;

$ui_transition= 0.2s background ease;


/*--------------
    Elements
---------------*/

/* Title */
$ui_titleColor= $ui_white;
$ui_titleMargin= 0em 0.5em;

$ui_closeSize= 1em;
$ui_closeMargin= (- $ui_closeSize / 2) 0em 0em;
$ui_closeTop= 50%;
$ui_closeRight= 1em;
$ui_closeColor= $ui_white;
$ui_closeTransition= opacity 0.2s ease;
$ui_closeOpacity= 0.4;


/*--------------
      States
---------------*/

/* Hover */
$ui_nagHoverBackground= $ui_background;
$ui_nagHoverOpacity= 1;

$ui_closeHoverOpacity= 1;

/*--------------
   Variations
---------------*/

/* Top / Bottom */
$ui_top= 0em;
$ui_bottom= 0em;
$ui_borderRadius= $ui_defaultBorderRadius;
$ui_topBorderRadius= 0em 0em $ui_borderRadius $ui_borderRadius;
$ui_bottomBorderRadius= $ui_borderRadius $ui_borderRadius 0em 0em;

/* Inverted */
$ui_invertedBackground= $ui_darkWhite;

/*--------------
      Plural
---------------*/

$ui_groupedBorderRadius= 0em;


