/*******************************
             Sidebar
*******************************/

/*-------------------
       Content
--------------------*/

/* Animation */
$ui_perspective= 1500px;
$ui_duration= 500ms;
$ui_easing= $ui_defaultEasing;

/* Dimmer */
$ui_dimmerColor= rgba(0, 0, 0, 0.4);
$ui_dimmerTransition= opacity $ui_duration;

/* Color below page */
$ui_canvasBackground= $ui_lightBlack;

/* Shadow */
$ui_boxShadow= 0px 0px 20px $ui_borderColor;
$ui_horizontalBoxShadow= $ui_boxShadow;
$ui_verticalBoxShadow= $ui_boxShadow;

/* Layering */
$ui_bottomLayer= 1;
$ui_middleLayer= 2;
$ui_fixedLayer= 101;
$ui_topLayer= 102;
$ui_dimmerLayer= 1000;

/*-------------------
      Variations
--------------------*/

/* Width */
$ui_veryThinWidth= 60px;
$ui_thinWidth= 150px;
$ui_width= 260px;
$ui_wideWidth= 350px;
$ui_veryWideWidth= 475px;

/* Height */
$ui_height= 36px;

