/*******************************
              Tab
*******************************/

/* Loading */
$ui_loadingMinHeight= 250px;
$ui_loadingContentPosition= relative;
$ui_loadingContentOffset= -10000px;

$ui_loaderDistanceFromTop= 100px;
$ui_loaderSize= 2.5em;
