/*******************************
          Transition
*******************************/

$ui_transitionDefaultEasing= $ui_defaultEasing;
$ui_transitionDefaultFill= both;
$ui_transitionDefaultDuration= 300ms;

$ui_use3DAcceleration= translateZ(0);
$ui_backfaceVisibility= hidden;
