/*******************************
            Comments
*******************************/

/*-------------------
      Elements
--------------------*/

/* Comment */
$ui_commentBackground= #FFFFFF;
$ui_commentMargin= 1em 0em 0em;
$ui_commentPadding= 1em 1.5em;
$ui_commentBorder= 1px solid rgba(0, 0, 0, 0.1);
$ui_commentDivider= 1px solid rgba(0, 0, 0, 0.1);
$ui_firstCommentMargin= 1em;
$ui_firstCommentPadding= 1em;

/* Nested Comment */
$ui_nestedCommentsMargin= 0em 0em 0.5em 0.5em;
$ui_nestedCommentsPadding= 1em 0em 0em 1em;
$ui_nestedCommentBackground= #F0F0F0;

/* Avatar */
$ui_avatarWidth= 3.5em;
$ui_avatarSpacing= 1.5em;
$ui_avatarBorderRadius= $ui_circularRadius;

/* Content */
$ui_contentMargin= $ui_avatarWidth + $ui_avatarSpacing;

/* Author */
$ui_authorFontSize= 1em;
$ui_authorColor= $ui_primaryColor;
$ui_authorHoverColor= $ui_primaryColorHover;
$ui_authorFontWeight= bold;

$ui_metadataDisplay= block;
$ui_metadataSpacing= 0em;
$ui_metadataColor= $ui_textColor;

/*-------------------
      Variations
--------------------*/

/* Threaded */
$ui_threadedCommentMargin= -1.5em 0 -1em  ($ui_avatarWidth / 2);

