/*******************************
            Divider
*******************************/

/*-------------------
       Element
--------------------*/

$ui_margin= 1rem 0rem;

$ui_highlightWidth= 1px;
$ui_highlightColor= $ui_whiteBorderColor;

$ui_shadowWidth= 1px;
$ui_shadowColor= $ui_borderColor;

/* Text */
$ui_letterSpacing= 0.05em;
$ui_fontWeight= bold;
$ui_color= $ui_darkTextColor;
$ui_textTransform= uppercase;

/*-------------------
       Coupling
--------------------*/

/* Icon */
$ui_dividerIconSize= 1rem;
$ui_dividerIconMargin= 0rem;


/*******************************
         Variations
*******************************/

/* Horizontal / Vertical */
$ui_horizontalMargin= '';
$ui_horizontalDividerMargin= 1em;
$ui_horizontalRulerOffset= unquote("calc(-50% - (" + $ui_horizontalDividerMargin + "))");

$ui_verticalDividerMargin= 1rem;
$ui_verticalDividerHeight= unquote("calc(100% - (" + $ui_verticalDividerMargin + "))");

/* Inverted */
$ui_invertedTextColor= $ui_white;
$ui_invertedHighlightColor= rgba(255, 255, 255, 0.15);
$ui_invertedShadowColor= $ui_borderColor;

/* Section */
$ui_sectionMargin= 2rem;

/* Sizes */
$ui_medium= 1rem;
