/*******************************
            Flag
*******************************/

/*-------------------
       Element
--------------------*/

$ui_spritePath= "" + $ui_imagePath + "/flags.png";
$ui_width= 16px;
$ui_height= 11px;
$ui_verticalAlign= baseline;
$ui_margin= 0.5em;
