/*******************************
            Image
*******************************/

/*-------------------
       Element
--------------------*/

$ui_placeholderColor= transparent;
$ui_roundedBorderRadius= 0.3125em;

$ui_imageHorizontalMargin= 0.25rem;
$ui_imageVerticalMargin= 0.5rem;
$ui_imageBorder= 1px solid rgba(0, 0, 0, 0.1);

/*-------------------
       Types
--------------------*/

/* Avatar */
$ui_avatarSize= 2em;
$ui_avatarMargin= 0.25em;


/*-------------------
       Variations
--------------------*/

/* Spaced */
$ui_spacedDistance= 0.5em;

/* Floated */
$ui_floatedHorizontalMargin= 1em;
$ui_floatedVerticalMargin= 1em;

/* Size */
$ui_miniWidth= 35px;
$ui_tinyWidth= 80px;
$ui_smallWidth= 150px;
$ui_mediumWidth= 300px;
$ui_largeWidth= 450px;
$ui_bigWidth= 600px;
$ui_hugeWidth= 800px;
$ui_massiveWidth= 960px;

