/*******************************
            Reveal
*******************************/

$ui_transitionDelay= 0.1s;
$ui_transitionDuration= 0.5s;
$ui_transitionEasing= cubic-bezier(0.175, 0.885, 0.320, 1);
$ui_transition= all $ui_transitionDuration $ui_defaultEasing $ui_transitionDelay;

$ui_bottomZIndex= 2;
$ui_topZIndex= 3;
$ui_activeZIndex= 4;
$ui_overlayZIndex= 5;

/* Types */
$ui_rotateDegrees= 110deg;
$ui_moveTransition= transform $ui_transitionDuration $ui_transitionEasing $ui_transitionDelay;
$ui_slideTransition= transform $ui_transitionDuration $ui_defaultEasing $ui_transitionDelay;

