/*-------------------
       Header
--------------------*/

$ui_headerFont = 'Karma', 'Times New Roman', serif;
$ui_fontWeight= normal;

$ui_iconSize= 1.5em;
$ui_iconOffset= 0.2em;
$ui_iconAlignment= top;

$ui_subHeaderFontSize= 0.85rem;

$ui_dividedBorder= 1px dotted rgba(0, 0, 0, 0.2);

/* Block Header */
$ui_blockVerticalPadding= 1.3em;
$ui_blockHorizontalPadding= 1em;

/* Attached  */
$ui_attachedBackground= linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.03)) repeat scroll 0 0 #F8F8F8;
$ui_attachedVerticalPadding= 1.3;
$ui_attachedHorizontalPadding= 1em;

/* HTML Headings */
$ui_h1= 1.75rem;
$ui_h2= 1.33rem;
$ui_h3= 1.33rem;
$ui_h4= 1rem;
$ui_h5= 0.9rem;

/* Sizing */
$ui_hugeFontSize= 1.75em;
$ui_largeFontSize= 1.33em;
$ui_mediumFontSize= 1.33em;
$ui_smallFontSize= 1em;
$ui_tinyFontSize= 0.9em;
