$ui_fontPath= '../../themes/github/assets/fonts';
$ui_fontName= 'octicons';
$ui_fallbackSRC= '';

$ui_width= 1em;
$ui_height= 1em;

$ui_small= 13px;
$ui_medium= 16px;
$ui_large= 18px;
$ui_big = 20px;
$ui_huge= 28px;
$ui_massive= 32px;
