/*******************************
            Standard
*******************************/

/*-------------------
       Segment
--------------------*/

$ui_segmentBorderWidth= 1px;
$ui_border= 1px solid #D8DEE2;
$ui_boxShadow= 0px 1px 3px rgba(0, 0, 0, 0.075);

$ui_verticalPadding= 20px;
$ui_horizontalPadding= 20px;

$ui_borderRadius= 4px;

/*******************************
            Variations
*******************************/


/* Raised */
$ui_raisedBoxShadow= 0px 1px 3px rgba(0, 0, 0, 0.075);

/* Colors */
$ui_coloredBorderSize= 0.5em;

/* Ordinality */
$ui_secondaryBackground= #F9F9F9;
$ui_secondaryColor= $ui_textColor;

$ui_tertiaryBackground=  #F0F0F0;
$ui_tertiaryColor= $ui_textColor;

$ui_secondaryInvertedBackground= #555555;
$ui_secondaryInvertedColor= $ui_textColor;

$ui_tertiaryInvertedBackground= #333333;
$ui_tertiaryInvertedColor= $ui_textColor;

