/*-------------------
   Step Variables
--------------------*/

/* Step */
$ui_background= transparent linear-gradient(transparent, rgba(0, 0, 0, 0.07));
$ui_verticalPadding= 1em;

$ui_arrowDisplay= none;
$ui_lastArrowDisplay= none;
$ui_activeArrowDisplay= block;
$ui_activeLastArrowDisplay= block;

/* Group */
$ui_stepsBackground= #FFFFFF;
$ui_stepsBoxShadow= 0px 0px 1px 0px rgba(0, 0, 0, 0.15);

/* States */
$ui_activeBackground= #FFFFFF;
$ui_activeIconColor= $ui_darkTextColor;

/* Arrow */
$ui_arrowTopOffset= 100%;
$ui_arrowRightOffset= 50%;
$ui_arrowBorderColor= rgba(0, 0, 0, 0.2);
$ui_arrowBorderWidth= 0px 0px $ui_borderWidth $ui_borderWidth;

