/*******************************
            Button
*******************************/

/*-------------------
       Element
--------------------*/

$ui_backgroundColor= #F8F8F8;
$ui_backgroundImage= linear-gradient(transparent, rgba(0, 0, 0, 0.05));
$ui_verticalAlign= middle;
$ui_borderRadius= 0.4em;
$ui_borderBoxShadowColor= $ui_borderColor;

/* Shadow */
$ui_shadowDistance= 0.3em;
$ui_verticalPadding= 1em;
$ui_horizontalPadding= 2em;

/* transition box shadow as well */
$ui_transition=opacity $ui_defaultDuration $ui_defaultEasing,
  background-color $ui_defaultDuration $ui_defaultEasing,
  box-shadow $ui_defaultDuration $ui_defaultEasing,
  color $ui_defaultDuration $ui_defaultEasing,
  background $ui_defaultDuration $ui_defaultEasing;
