/*******************************
         Site Settings
*******************************/

/*-------------------
       Fonts
--------------------*/

$ui_headerFont        = 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$ui_pageFont          = 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$ui_googleFontName    = 'Roboto';

/*-------------------
      Base Sizes
--------------------*/

$ui_emSize            = 14px;
$ui_fontSize          = 13px;

/*--------------
      Page
---------------*/

$ui_pageBackground      = #F9F9F9;
$ui_lineHeight          = 1.33;
$ui_textColor           = #212121;

/*--------------
  Page Heading
---------------*/

$ui_headerLineHeight = 1.33em;
$ui_headerFontWeight = 400;

$ui_h1               = 2.25rem;
$ui_h2               = 2rem;
$ui_h3               = 1.75rem;
$ui_h4               = 1.5rem;
$ui_h5               = 1.25rem;

/*--------------
   Paragraphs
---------------*/

$ui_paragraphLineHeight= 1.7em;

/*-------------------
      Site Colors
--------------------*/

/*---  Colors  ---*/
$ui_black            = #1B1C1D;
$ui_blue             = #2196F3;
$ui_green            = #4CAF50;
$ui_grey             = #9E9E9E;
$ui_orange           = #FF9800;
$ui_pink             = #E91E63;
$ui_purple           = #9C27B0;
$ui_red              = #F44336;
$ui_teal             = #1de9b6;
$ui_yellow           = #FFEB3B;

/*---  Light Colors  ---*/
$ui_lightBlack       = #333333;
$ui_lightBlue        = #2979FF;
$ui_lightGreen       = #00E676;
$ui_lightOrange      = #FF9100;
$ui_lightPink        = #F50057;
$ui_lightPurple      = #D500F9;
$ui_lightRed         = #FF1744;
$ui_lightTeal        = #1DE9B6;
$ui_lightYellow      = #FFEA00;

/*---   Neutrals  ---*/
$ui_fullBlack        = #000000;
$ui_darkGrey         = #AAAAAA;
$ui_lightGrey        = #DCDDDE;
$ui_offWhite         = #FAFAFA;
$ui_darkWhite        = #F0F0F0;
$ui_white            = #FFFFFF;

/*-------------------
    Brand Colors
--------------------*/

$ui_primaryColor        = $ui_blue;
$ui_secondaryColor      = $ui_grey;

$ui_lightPrimaryColor   = $ui_lightBlue;
$ui_lightSecondaryColor = $ui_lightGrey;

/*-------------------
      Paragraph
--------------------*/

$ui_paragraphMargin     = 0em 0em 1.53em;

/*-------------------
       Links
--------------------*/

$ui_linkColor           = #009FDA;
$ui_linkUnderline       = none;
$ui_linkHoverColor      = lighten($ui_linkColor, 5);
$ui_linkHoverUnderline  = $ui_linkUnderline;

/*-------------------
  Highlighted Text
--------------------*/

$ui_highlightBackground = #009FDA;
$ui_highlightColor      = $ui_white;

/*-------------------
       Accents
--------------------*/

/* 4px @ default em */
$ui_relativeBorderRadius= $ui_relative4px;
$ui_absoluteBorderRadius= 4px;

