/*******************************
             Card
*******************************/

/*-------------------
         View
--------------------*/

$ui_width= 250px;
$ui_background= transparent;
$ui_border= none;
$ui_boxShadow= none;

$ui_contentPadding= 1em 0em;

$ui_rowSpacing= 1.5em;
$ui_groupCardMargin= 0em $ui_horizontalSpacing $ui_rowSpacing;

$ui_extraBackground= transparent;
$ui_extraDivider= none;
$ui_extraBoxShadow= none;
$ui_extraPadding= 0.5em 0em;

$ui_extraLinkColor= $ui_textColor;
$ui_extraLinkHoverColor= $ui_linkHoverColor;

$ui_headerFontSize= $ui_relativeLarge;
$ui_headerLinkColor= $ui_textColor;
$ui_headerLinkHoverColor= $ui_linkHoverColor;

$ui_imageBorderRadius= $ui_borderRadius;
$ui_imageBorder= 1px solid $ui_borderColor;

$ui_linkHoverBackground= transparent;
$ui_linkHoverBoxShadow= none;
