/*******************************
             Item
*******************************/
/*-------------------
         View
--------------------*/

/* Item */
$ui_background= #FFFFFF;
$ui_borderRadius= 0.325rem;
$ui_display= block;
$ui_float= left;
$ui_margin= 0em $ui_horizontalSpacing $ui_rowSpacing;
$ui_minHeight= 0px;
$ui_padding= 0em;
$ui_width= 300px;
$ui_boxShadow=0px 0px 0px 1px $ui_borderColor,
  0px 3px 0px 0px $ui_borderColor;
$ui_border= none;
$ui_zIndex= '';

/* Item Group */
$ui_horizontalSpacing= 0.5em;
$ui_rowSpacing= 2.5em;
$ui_groupMargin= 1em (- $ui_horizontalSpacing);

/*-------------------
       Content
--------------------*/

/* Image */
$ui_imageBackground= $ui_transparentBlack;
$ui_imagePadding= 0em;
$ui_imageBorderRadius= $ui_borderRadius $ui_borderRadius 0em 0em;
$ui_imageBoxShadow= none;
$ui_imageBorder= none;

/* Content */
$ui_contentMargin= 0em;
$ui_contentPadding= 0.75em 1em;
$ui_contentFontSize= 1em;
$ui_contentBorder= none;
$ui_contentBorderRadius= 0em;
$ui_contentBoxShadow= none;

/* Title */
$ui_titleMargin= 0em;
$ui_titleFont= $ui_headerFont;
$ui_titleFontWeight= bold;
$ui_titleFontSize= 1.25em;
$ui_titleColor= $ui_darkTextColor;

/* Metadata */
$ui_metaColor= $ui_lightTextColor;

/* Description */
$ui_descriptionDistance= 0.75em;
$ui_descriptionColor= $ui_lightTextColor;

/* Image */
$ui_imageSpacing= 0.25em;
$ui_contentImageWidth= 2em;
$ui_contentImageVerticalAlign= middle;

/* Paragraph */
$ui_paragraphDistance= 0.1em;

/* Additional Content */
$ui_extraDisplay= absolute;
$ui_extraTop= 100%;
$ui_extraLeft= 0em;
$ui_extraWidth= 100%;

$ui_extraPadding= 0.5em 0.75em;
$ui_extraColor= $ui_lightTextColor;
$ui_extraTransition= color $ui_defaultDuration $ui_defaultEasing;

/*-------------------
       States
--------------------*/

$ui_hoverCursor= pointer;
$ui_hoverZIndex= 5;
$ui_hoverBorder= none;
$ui_hoverBoxShadow=0px 0px 0px 1px $ui_selectedBorderColor,
  0px 3px 0px 0px $ui_selectedBorderColor;


/*-------------------
      Variations
--------------------*/

/* Sizes */
$ui_medium= 1em;
