/*******************************
             Card
*******************************/

/*-------------------
         View
--------------------*/

/* Shadow */
$ui_shadowDistance= 0em;
$ui_padding= 0em;

/*-------------------
       Content
--------------------*/

/* Additional Content */
$ui_extraDivider= 1px solid rgba(0, 0, 0, 0.05);
$ui_extraBackground= #FAFAFA $ui_subtleGradient;
$ui_extraPadding= 0.75em 1em;
$ui_extraBoxShadow= 0 1px 1px rgba(0, 0, 0, 0.15);
$ui_extraColor= $ui_lightTextColor;

