/*-------------------
   Button Variables
--------------------*/

/* Button Variables */
$ui_textTransform= none;
$ui_fontWeight= normal;
$ui_textColor= #333333;

$ui_primaryColor= #333333;

$ui_borderRadius= 0.25em;

$ui_backgroundColor= #EEEEEE;
$ui_backgroundImage= none;
$ui_boxShadow= none;

$ui_hoverBackgroundColor= #DDDDDD;
$ui_hoverBackgroundImage= none;
$ui_hoverBoxShadow= none;

$ui_downBackgroundColor= #D0D0D0;
$ui_downBackgroundImage= none;
$ui_downBoxShadow= none;

$ui_activeBackgroundColor= #CCCCCC;
$ui_activeBackgroundImage= none;
$ui_activeBoxShadow= none;

$ui_verticalBoxShadow= none;

$ui_loadingBackgroundColor= #F0F0F0;

$ui_labeledIconLeftShadow= none;
$ui_labeledIconRightShadow= none;

$ui_mini= 0.6rem;
$ui_tiny= 0.7rem;
$ui_small= 0.85rem;
$ui_medium= 0.92rem;
$ui_large= 1rem;
$ui_big= 1.125rem;
$ui_huge= 1.25rem;
$ui_massive= 1.3rem;

