/*-------------------
   Icon Variables
--------------------*/

$ui_fontPath  = "../../themes/basic/assets/fonts";

$ui_src=url("" + $ui_fontPath + "/" + $ui_fontName + ".eot?#iefix") format('embedded-opentype'),
  url("" + $ui_fontPath + "/" + $ui_fontName + ".woff") format('woff'),
  url("" + $ui_fontPath + "/" + $ui_fontName + ".ttf") format('truetype'),
  url("" + $ui_fontPath + "/" + $ui_fontName + ".svg#icons") format('svg');
