/*-------------------
   Step Variables
--------------------*/

/* Stepss */
$ui_stepsBorder= none;
$ui_stepsBorderRadius= $ui_circularRadius;

/* Step */
$ui_border= none;
$ui_divider= none;
$ui_background= transparent;
$ui_borderRadius= $ui_circularRadius;
$ui_iconDistance= 0.8em;
$ui_arrowDisplay= none;

$ui_activeBackground= $ui_midWhite;
$ui_activeArrowDisplay= none;

