/*******************************
            Button
*******************************/

/*-------------------
       Element
--------------------*/
$ui_borderRadius= $ui_circularRadius;
$ui_textTransform= uppercase;
$ui_backgroundColor= #FFFFFF;
$ui_backgroundImage= none;
$ui_fontWeight= bold;
$ui_textColor= rgba(0, 0, 0, 0.6);
$ui_boxShadow=0px 0px 0px 2px rgba(0, 0, 0, 0.2) inset;

/* Padding */
$ui_verticalPadding= 1.25em;
$ui_horizontalPadding= 3em;

/* Icon */
$ui_iconOpacity= 0.8;
$ui_iconDistance= 0.4em;
$ui_iconTransition= opacity $ui_defaultDuration $ui_defaultEasing;
$ui_iconMargin= 0em $ui_iconDistance 0em -($ui_iconDistance / 2);
$ui_iconVerticalAlign= top;

/*-------------------
        Group
--------------------*/

$ui_verticalBoxShadow= 0px 0px 0px 1px $ui_borderColor inset;


/*-------------------
        States
--------------------*/

$ui_hoverBackgroundColor= #FAFAFA;
$ui_hoverBackgroundImage= none;
$ui_hoverBoxShadow= 0px 0px 0px 2px rgba(0, 0, 0, 0.3) inset;

$ui_downBackgroundColor= #F0F0F0;
$ui_downBackgroundImage= none;
$ui_downBoxShadow= 0px 0px 0px 2px rgba(0, 0, 0, 0.35) inset !important;

$ui_activeBackgroundColor= #DDDDDD;
$ui_activeBackgroundImage= none;
$ui_activeBoxShadow= 0px 0px 0px 2px rgba(0, 0, 0, 0.3) inset !important;

$ui_loadingBackgroundColor= #FFFFFF;

/*-------------------
        Types
--------------------*/

/* Labeled Icon */
$ui_labeledIconWidth= 1em + ($ui_verticalPadding * 2);
$ui_labeledIconBackgroundColor= transparent;
$ui_labeledIconPadding= ($ui_horizontalPadding + 1em);
$ui_labeledIconBorder= rgba(0, 0, 0, 0.05);
$ui_labeledIconColor= '';

$ui_labeledIconLeftShadow= none;
$ui_labeledIconRightShadow= none;

/* Basic */
$ui_basicBoxShadow= 0px 0px 0px 1px $ui_borderColor;
$ui_iconOffset= 0.05em;
$ui_basicLoadingColor= #FFFFFF;

$ui_basicHoverBackground= #FAFAFA;
$ui_basicHoverBoxShadow= 0px 0px 0px 1px rgba(0, 0, 0, 0.15);

$ui_basicDownBackground= rgba(0, 0, 0, 0.02);
$ui_basicDownBoxShadow= 0px 0px 0px 1px rgba(0, 0, 0, 0.2);

$ui_basicActiveBackground= $ui_transparentBlack;
$ui_basicActiveColor= $ui_selectedTextColor;

/* Basic Inverted */
$ui_basicInvertedBackground= transparent;
$ui_basicInvertedHoverBackground= transparent;
$ui_basicInvertedDownBackground= $ui_transparentWhite;
$ui_basicInvertedActiveBackground= $ui_transparentWhite;

$ui_basicInvertedBoxShadow= 0px 0px 0px 2px rgba(255, 255, 255, 0.5);
$ui_basicInvertedHoverBoxShadow= 0px 0px 0px 2px $ui_selectedWhiteBorderColor;
$ui_basicInvertedDownBoxShadow= 0px 0px 0px 2px $ui_selectedWhiteBorderColor;
$ui_basicInvertedActiveBoxShadow= 0px 0px 0px 2px $ui_selectedWhiteBorderColor;

$ui_basicInvertedColor= $ui_darkWhite;
$ui_basicInvertedHoverColor= $ui_darkWhiteHover;
$ui_basicInvertedDownColor= $ui_darkWhiteActive;
$ui_basicInvertedActiveColor= $ui_invertedTextColor;


/* Basic Group */
$ui_basicGroupBorder= 1px solid $ui_borderColor;
$ui_basicGroupBoxShadow= 0px 0px 0px 1px $ui_borderColor;

/*-------------------
      Variations
--------------------*/

/* Colors */
$ui_coloredBackgroundImage= linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.1));
$ui_coloredBoxShadow= $ui_shadowBoxShadow;

/* Compact */
$ui_compactVerticalPadding= ($ui_verticalPadding * 0.75);
$ui_compactHorizontalPadding= ($ui_horizontalPadding * 0.75);

/* Attached */
$ui_attachedOffset= -1px;
$ui_attachedBoxShadow= 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
$ui_attachedHorizontalPadding= 0.75em;

/* Floated */
$ui_floatedMargin= 0.25em;

/* Animated */
$ui_animationDuration= 0.3s;
$ui_animationEasing= ease;
$ui_fadeScaleHigh= 1.5;
$ui_fadeScaleLow= 0.75;

/* Sizing */
$ui_mini= 0.7rem;
$ui_tiny= 0.8rem;
$ui_small= 0.875rem;
$ui_medium= 1rem;
$ui_large= 1.125rem;
$ui_big= 1.25rem;
$ui_huge= 1.375rem;
$ui_massive= 1.5rem;


