/*******************************
             Card
*******************************/

/*-------------------
         View
--------------------*/

$ui_borderBoxShadow= none;
$ui_shadowBoxShadow= none;
$ui_boxShadow= none;


$ui_internalBorderColor= #EDEDEE;
$ui_border= 1px solid #EDEDEE;

$ui_contentPadding= 14px 20px;

$ui_metaColor= #A5A7AA;

$ui_linkHoverRaiseDistance= 0px;
$ui_linkHoverBoxShadow= none;
$ui_linkHoverBorder= 1px solid #D0D0D8;
