/*-------------------
   Button Variables
--------------------*/

/* Button Variables */
$ui_pageFont= Helvetica Neue, Helvetica, Arial, sans-serif;
$ui_textTransform= none;
$ui_fontWeight= normal;
$ui_textColor= rgba(51, 51, 51, 1);

$ui_borderRadius= $ui_4px;

$ui_lineHeight= 1.42857;
$ui_verticalPadding= 0.8571em;
$ui_horizontalPadding= 0.8571em;

$ui_backgroundColor= $ui_white;
$ui_backgroundImage= none;


$ui_borderBoxShadowColor= rgba(0, 0, 0, 0.14);

$ui_green= #5CB85C;
$ui_red= #D9534F;
$ui_blue= #337AB7;
$ui_green= #60B044;
$ui_orange= #F0AD4E;

$ui_primaryColor= $ui_blue;
$ui_secondaryColor= $ui_green;

$ui_labeledIconBackgroundColor= transparent;

$ui_basicBorderSize= 0px;
$ui_basicColoredBorderSize= 0px;
$ui_invertedBorderSize= 0px;

$ui_basicActiveBackground= transparent;
$ui_basicHoverBackground= transparent;
$ui_basicDownBoxShadow=0px 0px 0px 1px #ADADAD inset,
  0 3px 5px rgba(0, 0, 0, 0.125) inset;

$ui_groupButtonOffset= 0px 0px 0px -1px;
$ui_verticalGroupOffset= 0px 0px -1px 0px;

/* States */

$ui_hoverBackgroundColor= #E6E6E6;
$ui_hoverBoxShadow=0px 0px 0px 1px #ADADAD inset;

$ui_downBackgroundColor= #E6E6E6;
$ui_downBoxShadow=0px 0px 0px 1px #ADADAD inset,
  0 3px 5px rgba(0, 0, 0, 0.125) inset;

$ui_activeBackgroundColor= #E6E6E6;

$ui_disabledOpacity= 0.65;
