/*******************************
            Button
*******************************/

/*-------------------
       Element
--------------------*/

$ui_headerFont= 'Open Sans', Arial, sans-serif;

$ui_blockBackground= $ui_offWhite $ui_subtleGradient;
$ui_blockBoxShadow= $ui_subtleShadow;
