/*******************************
             Menu
*******************************/

$ui_background= $ui_darkWhite;
$ui_boxShadow= none;
$ui_dividerSize= 0px;

$ui_verticalBoxShadow= 0px 0px 0px 2px $ui_borderColor inset;
$ui_verticalActiveBoxShadow= none;

$ui_itemVerticalPadding= 1.25em;
$ui_itemHorizontalPadding= 2em;
$ui_itemFontWeight= bold;

$ui_activeItemBackground= $ui_primaryColor;
$ui_activeItemTextColor= $ui_white;
$ui_activeHoverItemBackground= $ui_primaryColorHover;
$ui_activeHoverItemColor= $ui_white;

$ui_secondaryItemPadding= $ui_relativeSmall $ui_relativeMedium;

$ui_secondaryActiveItemBackground= $ui_primaryColor;
$ui_secondaryActiveItemColor= $ui_white;
$ui_secondaryActiveHoverItemBackground= $ui_primaryColorHover;
$ui_secondaryActiveHoverItemColor= $ui_white;

$ui_secondaryPointingBorderWidth= 4px;
$ui_secondaryPointingActiveBorderColor= $ui_primaryColor;
$ui_secondaryPointingActiveTextColor= $ui_primaryColor;

$ui_arrowSize= 1em;
$ui_arrowActiveColor= $ui_primaryColor;
$ui_arrowActiveHoverColor= $ui_primaryColorHover;
$ui_arrowBorder= transparent;

$ui_paginationActiveBackground= $ui_lightGrey;

$ui_borderColor= $ui_darkWhite;
$ui_tabularBorderWidth= 2px;
