/*******************************
             Feed
*******************************/

/*-------------------
      Elements
--------------------*/

$ui_eventMargin= 0em;
$ui_eventDivider= none;
$ui_eventPadding= 0em;

/* Event Label */
$ui_labelWidth= 3em;
$ui_labelHeight= auto;

$ui_labeledContentMargin= 0.75em 0em 2em 0.75em;

/* Icon */
$ui_iconLabelBackground= $ui_primaryColor;
$ui_iconLabelBorderRadius= $ui_circularRadius;
$ui_iconLabelColor= $ui_white;

/* Metadata Group */
$ui_metadataDisplay= inline-block;
$ui_metadataMargin= 1em 0em 0em;
$ui_metadataBackground= $ui_white $ui_subtleGradient;
$ui_metadataBorder= 1px solid $ui_solidBorderColor;
$ui_metadataBorderRadius= 0.25em;
$ui_metadataBoxShadow= 0 1px 1px rgba(0, 0, 0, 0.05);
$ui_metadataPadding= 0.5em 1em;
$ui_metadataColor= rgba(0, 0, 0, 0.6);

/*-------------------
      Variations
--------------------*/

