// SemanticUI is using $textColor before asignment
$ui_textColor  = rgba(0, 0, 0, 0.87);
$ui_red             = #DB2828;
$ui_orange          = #F2711C;
$ui_blue            = #2185D0;
$ui_violet          = #6435C9;
$ui_purple          = #A333C8;
$ui_pink            = #E03997;
$ui_brown           = #A5673F;
$ui_redTextColor    = $ui_red;
$ui_orangeTextColor = $ui_orange;
$ui_yellowTextColor = #B58105; // Yellow text is difficult to read
$ui_oliveTextColor  = #8ABC1E; // Olive is difficult to read
$ui_greenTextColor  = #1EBC30; // Green is difficult to read
$ui_tealTextColor   = #10A3A3; // Teal text is difficult to read
$ui_blueTextColor   = $ui_blue;
$ui_violetTextColor = $ui_violet;
$ui_purpleTextColor = $ui_purple;
$ui_pinkTextColor   = $ui_pink;
$ui_brownTextColor  = $ui_brown;
