/*-------------------
   Table Variables
--------------------*/

$ui_headerBackground= $ui_white;
$ui_footerBackground= $ui_white;

$ui_cellVerticalPadding= 1em;
$ui_cellHorizontalPadding= 1em;

$ui_stateMarkerWidth= 1px;
