/*******************************
            Table
*******************************/

/*-------------------
       Element
--------------------*/

$ui_boxShadow= $ui_subtleGradient;

$ui_headerBackground= $ui_subtleGradient;
$ui_headerBoxShadow= $ui_subtleShadow;
$ui_footerBoxShadow= 0px -1px 1px 0px rgba(0, 0, 0, 0.05);
$ui_footerBackground= rgba(0, 0, 0, 0.05);

