/*******************************
             Menu
*******************************/

$ui_menuBorderRadius= $ui_borderRadius;
$ui_menuBorderColor= #DADADA;
$ui_menuBoxShadow= 0px 2px 4px rgba(0, 0, 0, 0.2);

$ui_menuPadding= $ui_relative8px 0em;
$ui_itemVerticalPadding= 1em;
$ui_itemHorizontalPadding= 1.5em;

$ui_menuHeaderFontSize= $ui_small;
$ui_menuHeaderFontWeight= bold;
$ui_menuHeaderTextTransform= none;

$ui_selectionBorderEmWidth= 0em;
$ui_selectionItemDivider= none;

$ui_labelBoxShadow= none;
