$ui_boxShadow= 0px 10px 18px rgba(0, 0, 0, 0.22);
$ui_borderRadius= 0em;


$ui_headerBackground= $ui_white;
$ui_headerVerticalPadding= 1.7142rem;
$ui_headerHorizontalPadding= 1.7142rem;
$ui_headerFontWeight= 400;
$ui_headerFontFamily= 'Roboto', "Helvetica Neue", Arial, sans-serif;
$ui_headerBorder= none;

$ui_contentPadding= 1rem 2rem 2rem;

$ui_actionBorder= none;
$ui_actionBackground= $ui_white;
