/*******************************
             Loader
*******************************/

$ui_loaderSpeed= 2s;
$ui_loaderLineColor= $ui_primaryColor;
$ui_invertedLoaderLineColor= $ui_lightPrimaryColor;

