/*******************************
             Loader
*******************************/

$ui_shapeBorderColor= $ui_primaryColor $ui_primaryColor $ui_secondaryColor $ui_secondaryColor;
$ui_invertedShapeBorderColor= $ui_lightPrimaryColor $ui_lightPrimaryColor $ui_lightSecondaryColor $ui_lightSecondaryColor;
